@font-face {
    font-family: "selawk";
    src: url("../fonts/selawik/selawk.ttf");
    font-display: swap;
  }

@font-face {
    font-family: "selawksb";
    src: url("../fonts/selawik/selawksb.ttf");
    font-display: swap;
}

@font-face {
    font-family: "selawkb";
    src: url("../fonts/selawik/selawkb.ttf");
    font-display: swap;
}

@font-face {
    font-family: "selawkl";
    src: url("../fonts/selawik/selawkl.ttf");
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI";
    src: url(../Lighted-Web-Design-2.0/fonts/SegoeUI/segoeui.ttf);
}

@font-face {
    font-family: "SegoeUI_sb";
    src: url(../Lighted-Web-Design-2.0/fonts/SegoeUI/seguisb.ttf);
}

@font-face {
    font-family: "SegoeUI_b";
    src: url(../Lighted-Web-Design-2.0/fonts/SegoeUI/segoeuib.ttf);
}

@font-face {
    font-family: "Century_Gothic";
    src: url(../Lighted-Web-Design-2.0/fonts/century-gothic/GOTHIC.TTF);
}