$pathToLWD: "../" !default;
  
@font-face {
    font-family: "selawk";
    src: url("#{$pathToLWD}/fonts/selawik/selawk.ttf");
    font-display: swap;
  }

@font-face {
    font-family: "selawksb";
    src: url("#{$pathToLWD}/fonts/selawik/selawksb.ttf");
    font-display: swap;
}

@font-face {
    font-family: "selawkb";
    src: url("#{$pathToLWD}/fonts/selawik/selawkb.ttf");
    font-display: swap;
}

@font-face {
    font-family: "selawkl";
    src: url("#{$pathToLWD}/fonts/selawik/selawkl.ttf");
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI_b";
    src: url("#{$pathToLWD}/fonts/SegoeUI/segoeuib.ttf");
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI";
    src: url("#{$pathToLWD}/fonts/SegoeUI/segoeui.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Century_Gothic";
    src: url("#{$pathToLWD}/fonts/century-gothic/GOTHIC.TTF");
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI_sb";
    src: url("#{$pathToLWD}/fonts/SegoeUI/seguisb.ttf");
    font-display: swap;
}