@font-face {
  font-family: "SatoshiVariable";
  src: url("./fonts/Satoshi-Variable.ttf");
  font-display: swap;
}
@font-face {
  font-family: "InterVariable";
  src: url("./fonts/Inter-Variable.ttf");
  font-display: swap;
}
@font-face {
  font-family: "segoeFluentIcons";
  src: url("./fonts/SegoeFluentIcons.ttf");
  font-display: swap;
}
:root {
  --sea-blue-alert: #b82548;
  --sea-blue-dark: #0d86c2;
  --sea-blue-darkest: #095c98;
  --sea-blue-light: #2fe5f5;
  --sea-blue-lightest: #6dfff8;
  --sea-blue-primary: #1ab5e5;
  --skye-blue-skye-blue-alert: #c61025;
  --skye-blue-dark: #005cb0;
  --skye-blue-darkest: #00438f;
  --skye-blue-light: #29a1e7;
  --skye-blue-lightest: #5ad7ff;
  --skye-blue-primary: #0078d4;
  --text-color: #2C2C2C;
  --component-active: #f0f0f0;
  --component-background: #ffffff;
  --component-hover: #f9f9f9;
  --component-important: #ebebeb;
  --site-background: #f5f5f5;
  --site-stroke: #dadada;
  --component-stroke: solid 1px #ebebeb;
  --shadow-0: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  --shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f2f2f2;
    --component-active: #424242;
    --component-background: #292929;
    --component-hover: #383838;
    --component-important: #1a1a1a;
    --site-background: #1f1f1f;
    --site-stroke: #2e2e2e;
    --component-stroke: solid 1px #1a1a1a;
    --shadow-0: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    --shadow-1: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    --shadow-2: 0px 3px 7px 0px rgba(0, 0, 0, 0.85);
  }
}

button, input[type=submit], input[type=reset], input[type=button] {
  font-family: InterVariable;
  font-size: 1em;
  height: 40px;
  text-align: center;
  display: inline-block;
  box-shadow: var(--shadow-1);
  color: var(--color-text);
  cursor: pointer;
  padding: 0 16px;
  margin: 4px 0;
  border: none;
  background-color: var(--component-background);
  border-radius: 4px;
  transition: background-color 0.1s, color 0.2s, box-shadow 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
  box-shadow: var(--shadow-2);
  background: var(--component-hover);
}
button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active {
  box-shadow: var(--shadow-0);
  background: var(--component-active);
  transition: background-color 0.4s, color 0.2s, transform 0.1s ease-in;
}
button:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus {
  border: none;
  margin: 5px 0;
}
button.important, input[type=submit], input.important[type=reset], input.important[type=button] {
  background-color: var(--skye-blue-primary);
}
button.important:hover, input[type=submit]:hover, input.important[type=reset]:hover, input.important[type=button]:hover {
  background-color: var(--skye-blue-light);
}
button.important:active, input[type=submit]:active, input.important[type=reset]:active, input.important[type=button]:active {
  background-color: var(--skye-blue-darkest);
}
button.flat, input.flat[type=submit], input.flat[type=reset], input.flat[type=button] {
  box-shadow: none;
  border: var(--component-stroke);
}
button.flat:hover, input.flat[type=submit]:hover, input.flat[type=reset]:hover, input.flat[type=button]:hover {
  box-shadow: var(--shadow-1);
}
button.flat:active, input.flat[type=submit]:active, input.flat[type=reset]:active, input.flat[type=button]:active {
  box-shadow: var(--shadow-0);
}

input {
  background-color: var(--foreground);
  border: var(--border);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 10px;
  margin: 5px 0;
  color: var(--foreground);
  transition: all 0.1s;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
input:focus {
  border-bottom: 2px solid transparent;
  border-bottom-color: var(--color-main);
  padding-bottom: 9px;
  box-shadow: var(--box-shadow);
}
input::-moz-placeholder {
  color: hsl(0, 0%, 70%);
}
input::placeholder {
  color: hsl(0, 0%, 70%);
}
input[type=reset], input[type=button] {
  border: none;
}
input[type=submit] {
  border: none;
}
input[type=color] {
  padding: 0;
  border-radius: 0;
  background: var(--background);
}
input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  box-shadow: var(--box-shadow);
  -webkit-appearance: none;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 5px;
  width: 5px;
  height: 5px;
  padding: 9px;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center center;
}
input[type=range][type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 0px;
  background: var(--color-darker);
  outline: none; /* Remove outline */
  transition: all 0.1s;
  margin: 15px 5px;
  padding: 2px;
}
input[type=range][type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: var(--color-darker);
  cursor: pointer;
}
input[type=range][type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: var(--color-darker);
  border: none;
  cursor: pointer;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Satoshi Variable", SatoshiVariable, inter, "Segoe UI Variable", Tahoma, Verdana, sans-serif;
  background-color: var(--site-background);
  background-attachment: fixed;
  color: var(--text-color);
  line-height: 1.4;
  margin: 0;
}

.content {
  margin: 8px;
}

::-webkit-scrollbar {
  width: 16px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: rgba(124, 124, 124, 0.459);
  border-radius: 8px;
}

:focus {
  outline: none;
}

.fluentIcon {
  font-family: "Segoe Fluent Icons", segoeFluentIcons;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 16px 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  margin: 8px 0;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 8px 0;
}

h4,
.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 4px 0;
}

a {
  color: var(--text-color);
  font-weight: 600;
  font-family: inter;
}
a:enabled {
  color: var(--text-color);
}
a:active {
  color: var(--text-color);
}
a:hover {
  color: var(--color-main);
}
a.noStyle {
  text-decoration: none;
}
a.noStyle:hover {
  color: var(--text-color);
}

.hidden {
  display: none;
}

.lr-box, .lr-list > div {
  background-color: var(--component-background);
  box-shadow: var(--shadow-1);
  border-radius: 4px;
  padding: 16px;
  margin: 8px 0;
}
.lr-box.very-round-corners, .lr-list > div.very-round-corners {
  border-radius: 15px;
}
.lr-box:nth-child(1), .lr-list > div:nth-child(1) {
  animation-delay: calc(0.03s * 1);
}
.lr-box:nth-child(2), .lr-list > div:nth-child(2) {
  animation-delay: calc(0.03s * 2);
}
.lr-box:nth-child(3), .lr-list > div:nth-child(3) {
  animation-delay: calc(0.03s * 3);
}
.lr-box:nth-child(4), .lr-list > div:nth-child(4) {
  animation-delay: calc(0.03s * 4);
}
.lr-box:nth-child(5), .lr-list > div:nth-child(5) {
  animation-delay: calc(0.03s * 5);
}
.lr-box:nth-child(6), .lr-list > div:nth-child(6) {
  animation-delay: calc(0.03s * 6);
}
.lr-box:nth-child(7), .lr-list > div:nth-child(7) {
  animation-delay: calc(0.03s * 7);
}
.lr-box:nth-child(8), .lr-list > div:nth-child(8) {
  animation-delay: calc(0.03s * 8);
}
.lr-box:nth-child(9), .lr-list > div:nth-child(9) {
  animation-delay: calc(0.03s * 9);
}
.lr-box:nth-child(10), .lr-list > div:nth-child(10) {
  animation-delay: calc(0.03s * 10);
}
.lr-box.flat, .lr-list > div.flat, .lr-box .lr-box, .lr-list > div .lr-box, .lr-box .lr-list > div, .lr-list > div .lr-list > div {
  box-shadow: none;
  border: var(--component-stroke);
}
.lr-box.shadow, .lr-list > div.shadow {
  box-shadow: var(--shadow-1);
  border: none;
}

.lr-list {
  overflow-y: initial;
}
.lr-list:not(.shadow) > div {
  box-shadow: none;
  border: var(--component-stroke);
}
.lr-list > div {
  width: initial;
  opacity: 0%;
  animation: box-load-in 0.2s ease-out;
  animation-fill-mode: both;
}
.lr-list > div:nth-child(1) {
  animation-delay: calc(0.03s * 1);
}
.lr-list > div:nth-child(2) {
  animation-delay: calc(0.03s * 2);
}
.lr-list > div:nth-child(3) {
  animation-delay: calc(0.03s * 3);
}
.lr-list > div:nth-child(4) {
  animation-delay: calc(0.03s * 4);
}
.lr-list > div:nth-child(5) {
  animation-delay: calc(0.03s * 5);
}
.lr-list > div:nth-child(6) {
  animation-delay: calc(0.03s * 6);
}
.lr-list > div:nth-child(7) {
  animation-delay: calc(0.03s * 7);
}
.lr-list > div:nth-child(8) {
  animation-delay: calc(0.03s * 8);
}
.lr-list > div:nth-child(9) {
  animation-delay: calc(0.03s * 9);
}
.lr-list > div:nth-child(10) {
  animation-delay: calc(0.03s * 10);
}
.lr-list > div:nth-child(11) {
  animation-delay: calc(0.03s * 11);
}
.lr-list > div:nth-child(12) {
  animation-delay: calc(0.03s * 12);
}
.lr-list > div:nth-child(13) {
  animation-delay: calc(0.03s * 13);
}
.lr-list > div:nth-child(14) {
  animation-delay: calc(0.03s * 14);
}
.lr-list > div:nth-child(15) {
  animation-delay: calc(0.03s * 15);
}
.lr-list > div:nth-child(16) {
  animation-delay: calc(0.03s * 16);
}
.lr-list > div:nth-child(17) {
  animation-delay: calc(0.03s * 17);
}
.lr-list > div:nth-child(18) {
  animation-delay: calc(0.03s * 18);
}
.lr-list > div:nth-child(19) {
  animation-delay: calc(0.03s * 19);
}
.lr-list > div:nth-child(20) {
  animation-delay: calc(0.03s * 20);
}
.round-corners, .lr-list.round-corners > div {
  border-radius: 8px;
}

@keyframes box-load-in {
  0% {
    transform: scale(70%);
    opacity: 0%;
  }
  100% {
    transform: scale(100%);
    opacity: 100%;
  }
}/*# sourceMappingURL=Lightrays.css.map */