/* Error: "&" may only used at the beginning of a compound selector.
 *     ,
 * 171 |     &:not(.transparent)&:not([type=reset]):not([type=button]):not([type=submit]){
 *     |                        ^
 *     '
 *   style\abstracts\_components.scss 171:24  @use
 *   style\Lightrays.scss 2:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "&" may only used at the beginning of a compound selector.\a     \2577 \a 171 \2502      &:not(.transparent)&:not([type=reset]):not([type=button]):not([type=submit]){\d\a     \2502                         ^\a     \2575 \a   style\\abstracts\\_components.scss 171:24  @use\a   style\\Lightrays.scss 2:1                 root stylesheet';
}
