@import "fonts.scss";
@import "settings.scss";

:root {
    --PI: 3.14159265358979;
}

// Themes
@mixin getTheme($thm) {
  @if $thm == light {
    :root {
      --foreground: black;
      --background: hsl(0, 0%, 96%);
      --background-hover: hsl(0, 3%, 85%);
      --background-active: hsl(0, 0%, 83%);
      --transparent-background: hsla(0, 0%, 99%, 0.95);

      --component-background: hsla(0, 0%, 100%, .7);
      --component-background-hover: hsla(0, 0%, 95%, .7);
      --component-background-active: hsla(0, 0%, 90%, .7);
      --component-background-transparent: hsla(0, 0%, 100%, .2);

      --box-shadow: 0px 1.6px 7px rgb(0 0 0 / 9%);
      --box-shadow-2: 0px 1.6px 8px rgba(0, 0, 0, 0.13),
        0px 0px 2.9px rgba(0, 0, 0, 0.11);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.25);
      --linear-gradient: linear-gradient(white, rgb(233, 231, 231));
      --border: solid hsla(0, 0%, 70%, .2) 1px;
      --shadow-spec: 97%;
      --shadow-brightness: 30%;
    }
  } @else {
    :root {
      --foreground: white;
      --background: #333333;
      --background-hover: hsl(0, 0%, 18%);
      --background-active: hsl(0, 0%, 15%);
      --transparent-background: hsla(0, 0%, 21%, 0.97);

      --component-background: hsla(0, 0%, 10%, .4);
      --component-background-hover: hsla(0, 0%, 15%, .4);
      --component-background-active: hsla(0, 0%, 20%, .4);
      --component-background-transparent: hsla(0, 0%, 10%, .2);

      --box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.75);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.75);
      --linear-gradient: linear-gradient(rgb(78, 78, 78), rgb(27, 27, 27));
      --border: solid hsla(0, 0%, 10%, .2) 1px;
      --shadow-spec: 20%;
      --shadow-brightness: 0%;
    }
  }
}

@if $theme == systemTheme {
  @include getTheme(light);
  @media (prefers-color-scheme: dark) {
    @include getTheme(dark);
  }
} @else if $theme == lightTheme {
  @include getTheme(light);
} @else if $theme == darkTheme {
  @include getTheme(dark);
}

:root {
  --ip-background-size: 100% auto;
  --shadow-length: 1;
  --sun-tint: 215;
  --sun-saturation: 0%;
  --sun-brightness: 100%;
  --sky-brightness: 92%;
  --sky-saturation: 87%;
}

// Functions
@mixin mobile() {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 650px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: 650px) and (max-width: 1300px) {
    @content;
  }
}

@mixin shadow($height) {
    --height: 1;
    --shadow-dir-x: calc(var(--light-direction-x)*var(--height)*var(--shadow-length));
    --shadow-dir-y: calc(var(--light-direction-y)*var(--height));
    --shadow-blur: calc(6px*var(--height));
    --shadow-size: calc((1px*var(--height)) - 8px);
    --shadow-color: hsla(var(--sun-tint), calc(var(--sun-saturation) - 20%), var(--shadow-brightness), .1);

    box-shadow:   var(--shadow-dir-x) var(--shadow-dir-y) var(--shadow-blur) var(--shadow-size) var(--shadow-color),
                  4px 4px 10px -5px rgba(0, 0, 0, calc(0.2 / var(--height))),  //AO
                  inset 1px 1px 1.5px -1px hsla(0, 0%, var(--shadow-spec), .2),  //Spec
                  inset 1px 1px 1px hsla(0, 0%, calc(var(--shadow-spec) + 10%), .2),  //Spec Highlight
                  inset -1px -1px 2px -1px rgba(170, 0, 0, 0.116);

    /*box-shadow:     calc(var(--light-direction-x)*var(--height)*var(--shadow-length)) calc(var(--light-direction-y)*var(--height)) calc(25px*var(--height)) var(--shadow-size) var(--shadow-color),
    4px 4px 10px -5px rgba(0, 0, 0, calc(0.1 / var(--height))),  //AO
    inset 1px 1px 1.5px -1px hsl(0, 0%, 97%),  //Spec
    inset 1px 1px 1px white,  //Spec Highlight
    inset -1px -1px 2px -1px rgba(0, 0, 0, 0.116);*/
}

// General
body {
  font-family: $default-font;
  background: linear-gradient(calc(var(--shadow-angle)*(-1)), 
  hsl(var(--sun-tint), var(--sun-saturation), var(--sun-brightness)),
  hsl(195, var(--sky-saturation), var(--sky-brightness)));
  background-attachment: fixed;
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 0.5em;
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}

:focus {
  outline: none;
}

// Headers ------------------------------------------------
h1 {
  font-family: $bold-font;
  font-weight: normal;
  color: var(--color-main);
}

h2 {
  font-family: $bold-font;
  font-weight: normal;
}

h3 {
  font-family: $semibold-font;
  font-weight: normal;
  margin: 5px auto 5px auto;
}

h4 {
  font-family: $semibold-font;
  font-weight: normal;
}

// Navigation --------------------------------------------------
body {
  &[nav-type="side"] {
    @include desktop() {
      transition: margin-left 0.2s ease-in-out;
      margin-left: 365px;
      &[nav-alt-state] {
        margin-left: 80px;
      }
    }
    @include tablet() {
      margin-left: 65px;
      &[nav-alt-state] {
        margin-left: 65px;
      }
    }
    @include mobile() {
      margin-left: 10px;
    }
  }
}

lwd-nav {
  z-index: 100;

  // no type specified -> go to default type
  &:not([mobile-type]) {@extend [mobile-type="side"];}
  &:not([type]) {@extend [type="side"];}

  .navItemIcon {
    transition: transform .1s;

    &:hover {transform: scale(1.15);}

    &:active {
      transform: scale(0.9);
      &.navButton, &.generatedNavButton,
      &[name="menu-outline"], &[name="menu-filled"], &[name="menu"] {
        transform: scaleY(1.5);
      }
      &[name="settings-outline"], &[name="settings-filled"], &[name="settings"], 
      &[name="refresh-outline"], &[name="refresh"], &[name="refresh-filled"],
      &[name="reload-outline"], &[name="reload"], &[name="reload-filled"],
      &[name="refresh-circle-outline"], &[name="refresh-circle"], &[name="refresh-circle-filled"] { 
        transform: rotate(-180deg);
      }
      &[name="ellipsis-horizontal-outline"], &[name="ellipsis-horizontal-filled"], &[name="ellipsis-horizontal"] {
        transform: scaleX(1.5);
      }
    }
  }

  &[type="side"] {
    @include desktop() {
      overflow-x: scroll;
      position: fixed;
      left: 0;
      top: 0;
      width: 340px;
      height: 100%;
      padding-top: 10px;
      white-space: nowrap;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background-color: var(--component-background);
      box-shadow: var(--box-shadow-2);
      transition: width 0.2s ease-in-out;
      -webkit-transition: width 0.2s ease-in-out;

      lwd-navitem {
        transition: margin 0.2s ease-in-out;
        -webkit-transition: margin 0.2s ease-in-out;
        display: flex;
        align-items: center;
        vertical-align: middle;
        width: calc(100% - 25px);
        height: 35px;
        margin: 5px 12.5px;
        cursor: pointer;

        .navItemLabel {
          order: 2;
          margin: 0 20px;
        }
        .navItemIcon {
          order: 1;
          width: 30px;
          padding: 10px;
          flex-shrink: 0;
        }
        .navItemIcon:first-child {
          fill: red;
        }

        &.header {
          margin-top: 15px;
          margin-bottom: 20px;
          .navItemIcon {
            width: 18px;
            padding: 16px;
          }
        }

        &[selected] {
          background: linear-gradient(
            to right,
            var(--color-light),
            var(--color-main)
          );
          color: var(--color-text);
          border-radius: 8px;
          box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%),
            0px 0px 2.9px rgb(0 0 0 / 11%);
        }
      }

      lwd-navgroup {
        display: block;
        border-top: var(--border);
        border-bottom: var(--border);
        border-width: 1.5px;
        margin: 5px 0;
        padding: 5px 0;
        & ~ lwd-navgroup {
          border-top-color: transparent;
          margin-top: 0;
          padding-top: 0;
        }
      }

      &[alt-state] {
        width: 55px;
        lwd-navitem {
          justify-content: center;
          width: calc(55px - 10px);
          margin-left: 5px;
          margin-right: 5px;
        }
        .navItemLabel {
          display: none;
        }
      }
    }
    @include tablet() {
      width: 55px;
      lwd-navitem {
        justify-content: center;
        width: calc(55px - 10px);
        margin-left: 5px;
        margin-right: 5px;
      }
      .navItemLabel {
        display: none;
      }

      &[alt-state] {
        width: 340px;
        lwd-navitem {
          justify-content: unset;
          width: calc(100% - 25px);
          margin: 5px 12.5px;

          &.header {
            margin-top: 15px;
            margin-bottom: 20px;
            .navItemIcon {
              width: 18px;
              padding: 16px;
            }
          }
        }
        .navItemLabel {
          display: initial;
        }
      }
    }
  }

  &[mobile-type="side"] {
    @include mobile() {
      overflow-x: scroll;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      white-space: nowrap;
      background-color: var(--component-background);
      box-shadow: var(--box-shadow-2);
      transition: width 0.2s ease-in-out;
      -webkit-transition: width 0.2s ease-in-out;

      lwd-navitem {
        transition: margin 0.2s ease-in-out;
        -webkit-transition: margin 0.2s ease-in-out;
        display: none;
        align-items: center;
        vertical-align: middle;
        width: calc(100% - 25px);
        height: 35px;
        margin: 5px 12.5px;
        cursor: pointer;
        .navItemLabel {
          order: 2;
          margin: 0 20px;
        }
        .navItemIcon {
          order: 1;
          width: 30px;
          padding: 10px;
          flex-shrink: 0;
        }

        &.header {
          display: flex;
          margin-top: 15px;
          margin-bottom: 20px;
          .navItemIcon {
            width: 18px;
            padding: 16px;
          }
        }

        &[selected] {
          background: linear-gradient(
            to right,
            var(--color-light),
            var(--color-main)
          );
          border-radius: 8px;
          box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%),
            0px 0px 2.9px rgb(0 0 0 / 11%);
        }
      }
    }
  }

  &[type="floatingSymbol"] {
    &:not([mobile-type]) {
      @extend [mobile-type="floatingSymbol"];
    } // no mobile-type specified

    @include desktop() {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      position: sticky;
      top: 20px;
      z-index: 100;

      lwd-navitem {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 30px;
        height: 30px;
        padding: 10px; margin: 5px;
        color: var(--foreground);
        text-decoration: none;
        border-radius: 30px;
        background: center center / auto 30px no-repeat;
        background-color: var(--component-background);
        @include shadow(1);
        backdrop-filter: blur(20px);
        cursor: pointer;
      }

      lwd-navgroup {
        display: inline-flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 10px; margin: 5px;
        text-decoration: none;
        border-radius: 30px;
        color: var(--foreground);
        background-color: var(--component-background);
        @include shadow(1);
        backdrop-filter: blur(20px);
        cursor: pointer;

        lwd-navitem {
          display: inline-flex;
          background: none;
          box-shadow: none;
          backdrop-filter: none;
          flex: 0 1 30px;
        }
      }
      .navItemIcon {
        order: 1;
        min-width: 30px;
      }
      .navItemLabel {
        order: 2;
        padding: 0 5px 2px 5px;
      }
      .justTextNavItem {
        background: none;
        box-shadow: none;
        font-size: 1.2em;
        font-family: selawik_sb;
        margin: auto 0;
      }
    }
  }

  &[mobile-type="floatingSymbol"] {
    @include mobile() {
      position: sticky;
      top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30px;
      width: calc(100% - 110px);
      margin: 0 0 0 80px; padding: 10px;
      color: var(--foreground);
      text-decoration: none;
      border-radius: 17px;
      cursor: pointer;
      background: center center / auto 30px no-repeat;
      background-color: var(--component-background);
      @include shadow(1);

      ion-icon {
        font-size: 20px;
      }

      lwd-navitem {
        display: none;
        flex: 0 1 200px;
        justify-content: center;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0px;
        top: 20px;
        width: 50px;
        height: 50px;
        margin-left: 15px;
        padding: 0;
        ion-icon {
          font-size: 1.5em;
        }
      }

      .navItemLabel,
      .justTextNavItem,
      lwd-navgroup {
        display: none;
      }
      .mobile-nav-item {
        display: flex;
      }
    }
  }
}

//LWD inputs -----------------------------------------------------------------

// Button
button {
  @include shadow(1);
  cursor: pointer;
  font-family: $semibold-font;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 5px 0;
  border: none;
  background-color: var(--component-background);
  color: var(--foreground);
  border-radius: $border-radius;
  transition: background-color 0.1s, color 0.2s, transform 0.1s ease-in, box-shadow .3s;

  &:hover {    
    --height: 1.5;
    background: var(--component-background-hover);
  }
  &:active {
    --height: 0.5;
    background: var(--component-background-active);
    transform: scale(0.95);
    transition: background-color .2s, color .2s, transform .1s ease-in;
  }
  &:focus {
    border: none;
    margin: 5px 0;
  }
  &.important {
    background: var(--color-main);
    color: var(--color-text);
    &:hover {background-color: var(--color-darker);}
    &:active {background-color: var(--color-dark);}
  }
  &.flat {
    box-shadow: none;
    border: var(--border);
    &:hover {@include shadow(1)}
    &:active {--height: 0.5}
  }
}

input {
  background-color: var(--component-background);
  border: var(--border);
  border-radius: $border-radius;
  font-size: 0.8rem;
  font-family: $default-font;
  padding: 10px;
  margin: 5px 0;
  color: var(--foreground);
  transition: all 0.1s;
  display: inline-block;

  &:focus {
    border-bottom: 2px solid transparent;
    border-bottom-color: var(--color-main);
    padding-bottom: 9px;
    @include shadow(1);
  }

  &::placeholder {
    color: hsl(0, 0%, 70%);
  }

  &[type="reset"],
  &[type="button"] {
    @extend button;
    border: none;
  }
  &[type="submit"] {
    @extend button, .important;
    border: none;
  }

  &[type="color"] {
    padding: 0;
    border-radius: 0;
    background: var(--component-background);
  }

  &[type="checkbox"] {
    appearance: none;
    box-shadow: var(--box-shadow);
    -webkit-appearance: none;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
    width: 5px;
    height: 5px;
    padding: 9px;
    cursor: pointer;

    &:checked {
      background-image: url("src/checked.png");
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center center;
    }
  }

  &[type="range"] {
    &[type="range"] {
      -webkit-appearance: none; appearance: none;
      height: 0px;
      background: var(--color-darker);
      outline: none; /* Remove outline */
      -webkit-transition: .1s; transition: all .1s;
      margin: 15px 5px; padding: 2px;
    }

    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; appearance: none;
      width: 25px; height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      box-shadow: var(--box-shadow-active);
      cursor: pointer;
    }

    &[type="range"]::-moz-range-thumb {
      width: 25px; height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      box-shadow: var(--box-shadow-2);
      border: none;
      cursor: pointer;
    }
  }
}

div.lwd-box {
    @include shadow(1);
    background-color: var(--component-background);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 15px;
    width: fit-content;
    margin: 10px 0;
    align-self: center;

    &.round-corners {
        border-radius: 7px;
    }
}

.lwd-list {
  font-size: 15px;
  overflow-y: initial;
  & > div {
    @extend .lwd-box;
    width: initial;
  }
  &.round-corners {
    & > div {
      border-radius: 7px;
    }
  }
  &.flat {
    div {
      border: var(--border);
      box-shadow: none;
    }
  }
}

.linkbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  a {
    background: center 30px / auto 80px no-repeat;
    background-color: var(--component-background);
    box-shadow: var(--box-shadow);
    width: 140px;
    height: 145px;
    margin: 0 20px 30px 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    font-family: $semibold-font;
    transition: transform 0.2s;

    div {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background: linear-gradient(
        to left top,
        var(--color-lighter),
        var(--color-extra-light)
      );
      color: white;
      animation: pop-out 0.3s;
      transform: scale(1.1);
      box-shadow: 0px 0px 10pt 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.circle {
  border-radius: 50%;
  padding: 20px;
}

.background-gradient {
  background: linear-gradient(
    to right bottom,
    var(--color-light),
    var(--color-main)
  );
}

.hide-in-mobile {
  @include mobile() {
    display: none;
    visibility: hidden;
    position: absolute;
  }
}

.hide-in-desktop {
  @include desktop() {
    display: none;
    visibility: hidden;
    position: absolute;
  }
}


//Animations -----------------------------------------
.animation {
  transition: transform .1s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
    &.rotate {transform: rotate(-170deg)}
    &.stretch-horizontal {transform: scaleY(1.5);}
    &.stretch-vertical {transform: scaleX(1.5);}
  }
  &.window-close {
    animation: fade-down .4s;
    transition: visibility .4s;
  }
  &.window-open {
    animation: fade-up .2s;
    transition: visibility .2s;
  }
  &.window-highlight {
    animation: pop-up .3s;
  }
}

@keyframes fade-down {
  0% {transform: translate(-50%, -50%)}
  20% {transform: translate(-50%, -50%) scale(0.8)}
  100% {top: 150%}
}

@keyframes fade-up {
  0% {transform: translate(-50%, -50%) scale(0.8);top: 150%}
  70% {transform: translate(-50%, -50%) scale(0.8)}
  100% {transform: translate(-50%, -50%) scale(1);top: 50%}
}

@keyframes pop-up {
  50% {transform: translate(-50%, -50%) scale(1.02);--height: 1.2}
  100% {transform: translate(-50%, -50%) scale(1);--height: 1}
}



//Lwd window ------------------------------------------
lwd-window {
  position: fixed; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 600px; height: 400px;
  @include shadow(1);
  backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);
  border-radius: 7px;
  border: var(--border);
  z-index: 101;
  transition: box-shadow .1s, transform .1s;
  overflow: hidden;
  background-color: var(--component-background-transparent);


  h2 {
    position: relative;
    display: flex; justify-content: center; align-items: center;
    color: var(--foreground);
    font-size: 1.7em;
    width: 100%; height: 60px;
    cursor: move;
    margin: 0;
    transition: all .1s;
    &:hover {font-size:1.8em}
  }
  svg {
    padding: 10px;
    position: absolute;
    right: 0px; top: 0px;
    width: 16px; height: 16px;
    path {fill: var(--foreground)}
    cursor: default;
    &:hover {transform: scale(1.1)}
    &:active {transform: scale(0.9)}
    transition: all .1s;
    enable-background: new 0 0 512 512;
  }

  .content {
    background-color: var(--component-background);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;
    padding: 10px;
    overflow-y: scroll;
  }

  &.round-corners {
    border-radius: 15px;
    .content {
      border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    }
  }
}