@mixin can-hover() {
  @media screen and (hover: hover) and (pointer: fine) {
    @content;
  }
}

$non-text-inputs: "[type=button], [type=submit], [type=reset], [type=checkbox], [type=color], [type=file], [type=image], [type=radio], [type=range]";
input:not(#{$non-text-inputs}),
textarea {
  font-family: var(--text-font);
  color: var(--color-text);
  background: var(--color-layer);
  border: 1px solid var(--color-stroke-surface);
  box-shadow: none;

  border-radius: 4px;
  padding: 8px 16px;

  &:focus-visible {
    outline: 1px solid var(--border-primary);
    outline-offset: -1px;
  }
}

/* TODO finish input:range
input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  height: 1em;
  background-color: transparent;
}
::-webkit-slider-container {
  appearance: none;
  -webkit-appearance: none;
  height: 1em;
}
::-webkit-slider-runnable-track {
  height: .2em;
  // inline-size: .2em;
  // position: absolute;
  background-color: tomato;
}
::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 9999px;
  background-color: white;
}
*/

button,
select {
  --btn-bg: var(--color-surface-0);
  --btn-bg-muted: var(--color-layer);
  --btn-fg: var(--color-text);
  --btn-border: var(--color-surface-1);
  --btn-border-muted: var(--color-surface-2);
  --btn-fg-on: var(--color-text);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--btn-bg);
  color: var(--btn-fg-on);
  cursor: pointer;
  user-select: none;
  font-family: SatoshiVariable;
  font-weight: 600;
  letter-spacing: .5px;
  outline-offset: 0px;
  transition-property: background-color, outline-offset;
  transition-duration: .15s;
  transition-timing-function: var(--curve-ease);
  box-shadow: none;
  border: 1px solid var(--btn-border);

  @include can-hover {
    &:hover {
      background-color: oklch(from var(--btn-bg) calc(l + .03) c h);
    }
  }

  &:active {
    background-color: oklch(from var(--btn-bg) calc(l - .03) c h);
  }


  &:focus-visible {
    outline: 2px solid var(--border-primary);
    outline-offset: 2px;
  }

  // Sizes
  &.very-small {
    padding: .125em .25em;
  }
  &.small {
    padding: .25em .5em;
  }
  &,
  &.medium {
    padding: .5em 1em;
    border-radius: .25em;
  }
  &.large {
    padding: .625em 1.25em;
    border-radius: .5em;
  }


  // Colors
  &.primary {
    --btn-bg: var(--bg-primary);
    --btn-bg-muted: var(--bg-primary-muted);
    --btn-fg: var(--fg-primary);
    --btn-fg-on: var(--fg-on-primary);
    --btn-border: var(--border-primary);
    --btn-border-muted: var(--border-primary-muted);
  }
  &.warning {
    --btn-bg: var(--bg-warning);
    --btn-bg-muted: var(--bg-warning-muted);
    --btn-fg: var(--fg-warning);
    --btn-fg-on: var(--fg-on-warning);
    --btn-border: var(--border-warning);
    --btn-border-muted: var(--border-warning-muted);

  }
  &.error {
    --btn-bg: var(--bg-error);
    --btn-bg-muted: var(--bg-error-muted);
    --btn-fg: var(--fg-error);
    --btn-fg-on: var(--fg-on-error);
    --btn-border: var(--border-error);
    --btn-border-muted: var(--border-error-muted);
  }
  &.success {
    --btn-bg: var(--bg-success);
    --btn-bg-muted: var(--bg-success-muted);
    --btn-fg: var(--fg-success);
    --btn-fg-on: var(--fg-on-success);
    --btn-border: var(--border-success);
    --btn-border-muted: var(--border-success-muted);
  }
  &.complete {
    --btn-bg: var(--bg-complete);
    --btn-bg-muted: var(--bg-complete-muted);
    --btn-fg: var(--fg-complete);
    --btn-fg-on: var(--fg-on-complete);
    --btn-border: var(--border-complete);
    --btn-border-muted: var(--border-complete-muted);
  }

  // Varients
  &.muted {
    background-color: var(--btn-bg-muted);
    border-color: transparent;
    color: var(--btn-fg);

    @include can-hover {
      &:hover {
        background-color: oklch(from var(--btn-bg-muted) calc(l + .04) c h);
      }
    }
    &:active {
      background-color: oklch(from var(--btn-bg-muted) calc(l - .02) c h);
    }
  }

  &.outline {
    border: 1px solid var(--btn-border-muted);
    background-color: transparent;
    color: var(--btn-fg);

    @include can-hover {
      &:hover {
        background-color: oklch(from var(--btn-bg) calc(l + .4) c h / .08);
        background-color: oklch(from var(--btn-bg-muted) calc(l + .1) calc(c * 1.3) h / .4);
      }
    }
    &:active {
      background-color: oklch(from var(--btn-bg) l c h / .04);
      background-color: oklch(from var(--btn-bg-muted) calc(l + .05) calc(c * 1.1) h / .3);
    }
  }

  &.subtle {
    border-color: transparent;
    background-color: transparent;
    color: var(--btn-fg);

    @include can-hover {
      &:hover {
        background-color: oklch(from var(--btn-bg) l c h / .12);
        background-color: oklch(from var(--btn-bg-muted) calc(l + .1) calc(c * 1.3) h / .4);
      }
    }
    &:active {
      background-color: oklch(from var(--btn-bg) calc(l - .2) c h / .06);
      background-color: oklch(from var(--btn-bg-muted) calc(l + .05) calc(c * 1.1) h / .3);
    }
  }
}

select,
select:hover {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M3.20041 5.73966C3.48226 5.43613 3.95681 5.41856 4.26034 5.70041L8 9.22652L11.7397 5.70041C12.0432 5.41856 12.5177 5.43613 12.7996 5.73966C13.0815 6.0432 13.0639 6.51775 12.7603 6.7996L8.51034 10.7996C8.22258 11.0668 7.77743 11.0668 7.48967 10.7996L3.23966 6.7996C2.93613 6.51775 2.91856 6.0432 3.20041 5.73966Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1em;

  &.very-small {
    padding-right: 1.25em;
    background-position: calc(100% - .125em) center;
  }
  &.small {
    padding-right: 1.75em;
    background-position: calc(100% - 0.375em) center;
  }
  &,
  &.medium {
    padding-right: 2.5em;
    background-position: calc(100% - .875em) center;
  }
  &.large {
    padding-right: 2.75em;
    background-position: calc(100% - 1em) center;
  }
}

@media (prefers-color-scheme: light) {
  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' %3E%3Cpath d='M3.20041 5.73966C3.48226 5.43613 3.95681 5.41856 4.26034 5.70041L8 9.22652L11.7397 5.70041C12.0432 5.41856 12.5177 5.43613 12.7996 5.73966C13.0815 6.0432 13.0639 6.51775 12.7603 6.7996L8.51034 10.7996C8.22258 11.0668 7.77743 11.0668 7.48967 10.7996L3.23966 6.7996C2.93613 6.51775 2.91856 6.0432 3.20041 5.73966Z'/%3E%3C/svg%3E");
  }
}

:has([theme=light]) select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' %3E%3Cpath d='M3.20041 5.73966C3.48226 5.43613 3.95681 5.41856 4.26034 5.70041L8 9.22652L11.7397 5.70041C12.0432 5.41856 12.5177 5.43613 12.7996 5.73966C13.0815 6.0432 13.0639 6.51775 12.7603 6.7996L8.51034 10.7996C8.22258 11.0668 7.77743 11.0668 7.48967 10.7996L3.23966 6.7996C2.93613 6.51775 2.91856 6.0432 3.20041 5.73966Z'/%3E%3C/svg%3E");
}