@use 'abstracts/themes';
@use 'abstracts/settings' as *;
//@use 'abstracts/fonts';

:root {
    --ip-background-size: 100% auto;
    --shadow-length: 1;
    --sun-tint: 215;
    --sun-saturation: 0%;
    --sun-brightness: 100%;
    --sky-brightness: 92%;
    --sky-saturation: 87%;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-family: $default-font;
    background: linear-gradient(to bottom right, var(--background), var(--background-tint));
    background-attachment: fixed;
    color: var(--foreground);
    margin: 0;
}

::-webkit-scrollbar {
width: 0.5em;
background: white;
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
border-radius: 8px;
}
:focus {
outline: none;
}

.fluentIcon {
font-family: 'Segoe Fluent Icons', segoeFluentIcons;
}

// Headers ------------------------------------------------
h1 {
font-family: $bold-font;
color: var(--color-main);
margin: 10px 0;
}

h2 {
font-family: $bold-font;
}

h3, h4 {
font-family: $semibold-font;
margin: 5px auto 5px auto;
}


// Functions ----------------------------------------------
@mixin mobile() {
    @media screen and (max-width: 650px) {@content;}
}
@mixin desktop() {
    @media screen and (min-width: 650px) {@content;}
}
@mixin tablet() {
    @media screen and (min-width: 650px) and (max-width: 1300px) {@content;}
}


// Navigation --------------------------------------------
.navRootElem {
    position: fixed;
    width: 100%; height: 100%;
    display: flex; flex: 1 1 auto;

    .navRootElem {
        position: relative;
        width: unset; height: unset;
        flex: 1 1 auto;
    }

    .content {display: flex; flex-direction: column; flex: 1 1 auto;}

    &.bottom, &.top {flex-direction: column; }

    @include mobile() {
       &.side {flex-wrap: wrap; }
    }
}

.lr-nav {
    width: var(--width);
    height: var(--height);
    background-color: var(--component-background);
    box-shadow: var(--box-shadow);
    display: flex;
    cursor: default;
    &.flat {box-shadow: none; border: var(--border);}
    &.floating {margin: 10px;}
    &.colored {background: linear-gradient(to right, var(--color-light), var(--color-main), var(--color-dark));color: var(--color-text);}

    .lr-navItem {
        display: flex; align-items: center;
        border-radius: 8px;

        .navItemIcon { font-family: "Segoe Fluent Icons", segoeFluentIcons; text-align: center; }

        &:hover {
            box-shadow: var(--box-shadow);
            .navItemIcon { transform: scale(1.15) }
        }
        &:active {
            box-shadow: var(--box-shadow-active);
            .navItemIcon { transform: scale(0.9) }
        }

        &.selected {
            background: linear-gradient(to right,var(--color-light),var(--color-main));
            color: var(--color-text);
        }
    }

    &.side {
        --width: 300px;
        --collapsed-width: 60px;
        transition: width .3s ease;
        flex-direction: column;
        &.flat {border: none; border-right: var(--border); &.floating {border: var(--border)}}
        &.floating {border-radius: 20px 3px 3px 20px;}

        .lr-navItem {
            flex-wrap: nowrap; flex-grow: 1;
            height: 35px;
            margin: 5px 10px; transition: margin .3s;
            white-space: nowrap;
            overflow: hidden;

            &.open .navItemIcon.toggle {
                transform: rotate(180deg);
                &:hover {transform: rotate(180deg) scale(1.1)}
            }

            .navItemIcon {
                transition: transform .1s;
                min-width: calc(var(--collapsed-width) - 10px);
                text-align: center;
                order: 1;
                &.toggle {
                    order: 3;
                    position: relative; right: 0;
                }
            }

            .navItemLabel { order: 2; flex-grow: 1; }
        }

        .lr-navGroup {
            &.header-navGroup {border-top: none;}
            display: block;
            border-top: var(--border); border-bottom: var(--border); border-width: 1.5px;
            margin: 5px 0;padding: 5px 0;
            & ~ .lr-navGroup {
                border-top-color: transparent;
                margin-top: 0; padding-top: 0;
            }
        }

        .lr-navFoldout {
            .foldoutItems {
              margin-left: 40px;
              &.open {display: block}
              display: none;
            }
            transition: height .2s linear;
        }

        &.alt-state {
            width: var(--collapsed-width);
            .lr-navItem {margin: 5px;}
            .lr-navGroup .foldoutItems {margin-left: 0;}
        }

        @include mobile() {
            transition: height .3s ease;
            width: 100%; height: 60px; 
            overflow: hidden;
            &.flat {border-bottom: var(--border);}
            &:not(.floating) {box-shadow: none};
            .header {
                .navItemLabel {font-size: 1.7em;}
                .navItemIcon {padding-top: 5px}
                &:hover {box-shadow: none;}
            }


            &.alt-state {
                width: 100%;
                height: calc(100% - 20px);
                .lr-navItem {margin: 5px 10px;}
                .lr-navGroup .foldoutItems {margin-left: 40px;}
            }
        }

        &.right {
            order: 1;
            &.floating {border-radius: 3px 20px 20px 3px;}
            .lr-navItem {
                .navItemIcon {order: 2;}
                .navItemLabel {order: 0; margin-left: 5px;}
                .navItemIcon.toggle {order: 1; position: unset;}
            }

            &.alt-state {
                .navItemIcon {margin: 5px 0; }
                .navItemLabel, .toggle {display: none;}
            }
        }
    }

    &.bottom {
        --width: 100%;
        --height: 60px;
        order: 2;
        width: 100%; max-width: var(--width); 
        &:not(.floating, .colored, .flat) {background-color: transparent; border: none; box-shadow: none;}
        &.colored, &.flat {border-radius: 15px 15px 0 0; }
        &.floating {border-radius: 15px;}
        align-self: center;
        overflow-x: scroll;
        &::-webkit-scrollbar { display: none;} scrollbar-width: none; -ms-overflow-style: none; 

        &.colored {.lr-navItem {&.selected {background: none; box-shadow: none; font-weight: bold; font-size: 1.1em; }}}
        
        .lr-navItem {
            flex: 0 1 100%;
            position: relative;
            top: 10%;
            height: 80%;
            margin: 0 1% 0 0;
            &:first-child {margin-left: 1%;}
            justify-content: center;
            transition: all .2s;
            &:hover {box-shadow: none; background-color: var(--background-hover); font-size: 1.1em;}
            &:active {background-color: var(--background-active); font-size: 0.9em; transition: all .1s;}

            .navItemLabel {padding: 0 10px 0 10px;}
            .navItemIcon:hover {transform: none;}
        }
        &.colored .lr-navItem:hover {background-color: transparent; box-shadow: var(--box-shadow);}
        &.colored .lr-navItem:active {background-color: transparent; box-shadow: none; font-size: 0.9em; transition: all .1s;}
    }

    &.top {
        @extend .bottom;
        order: 0;
        &.colored, &.flat {border-radius: 0 0 15px 15px; }
        &.floating {border-radius: 15px;}
    }
}


//Box-------------------------
div.lr-box {
    box-shadow: var(--box-shadow);
    background-color: var(--component-background);
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 15px;
    width: fit-content;
    margin: 10px 0;
    align-self: center;

    &.round-corners {
        border-radius: 7px;
    }
}


//List --------------------
.lr-list {
  font-size: 15px;
  overflow-y: initial;
  & > div {
    @extend .lr-box;
    width: initial;
  }
  &.round-corners {
    & > div {
      border-radius: 7px;
    }
  }
  &.flat {
    div {
      border: var(--border);
      box-shadow: none;
    }
  }
}