@font-face {
 font-family: "selawik";
    src: url("../../../fonts/selawik/selawk.ttf");
    font-display: swap;
  }

@font-face {
    font-family: "selawik_sb";
    src: url("../../../fonts/selawik/selawksb.ttf");
    font-display: swap;
}

@font-face {
    font-family: "selawik_b";
    src: url("../../../fonts/selawik/selawkb.ttf");
    font-display: swap;
}

@font-face {
  font-family: "selawik_l";
  src: url("../../../fonts/selawik/selawkl.ttf");
  font-display: swap;
}

@font-face {
  font-family: "segoeFluentIcons";
  src: url("../../../fonts/SegoeFluentIcons.ttf");
  font-display: swap;
}