//LR inputs -----------------------------------------------------------------

// Button
button {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 5px 0;
  border: none;
  background-color: var(--foreground);
  color: var(--text-color);
  border-radius: 5px;
  transition: background-color 0.1s, color 0.2s, transform 0.1s ease-in, box-shadow .3s;
  user-select: none;

  &:hover {
    --height: 1.5;
    background: var(--foreground-hover);
  }

  &:active {
    --height: 0.5;
    background: var(--foreground-active);
    transform: scale(0.95);
    transition: background-color .2s, color .2s, transform .1s ease-in;
  }

  &:focus {
    border: none;
    margin: 5px 0;
  }

  &.important {
    background: var(--color-main);
    color: var(--color-text);

    &:hover {
      background-color: var(--color-darker);
    }

    &:active {
      background-color: var(--color-dark);
    }
  }

  &.flat {
    box-shadow: none;
    border: var(--border);

    &:hover {
      box-shadow: var(--box-shadow);
    }

    &:active {
      --height: 0.5
    }
  }
}

input {
  background-color: var(--foreground);
  border: var(--border);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 10px;
  margin: 5px 0;
  color: var(--color-text);
  transition: all 0.1s;
  display: inline-block;
  user-select: none;

  &:focus {
    border-bottom: 2px solid transparent;
    border-bottom-color: var(--color-main);
    padding-bottom: 9px;
    box-shadow: var(--box-shadow);
  }

  &::placeholder {
    color: hsl(0, 0%, 70%);
  }

  &[type="reset"],
  &[type="button"] {
    @extend button;
    border: none;
  }

  &[type="submit"] {
    @extend button, .important;
    border: none;
  }

  &[type="color"] {
    padding: 0;
    border-radius: 0;
    background: var(--background);
  }

  &[type="checkbox"] {
    appearance: none;
    box-shadow: var(--box-shadow);
    -webkit-appearance: none;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
    width: 5px;
    height: 5px;
    padding: 9px;
    cursor: pointer;

    &:checked {
      //background-image: url("src/checked.png");
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center center;
    }
  }

  &[type="range"] {
    &[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      height: 0px;
      background: var(--color-darker);
      outline: none;
      /* Remove outline */
      -webkit-transition: .1s;
      transition: all .1s;
      margin: 15px 5px;
      padding: 2px;
    }

    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      //box-shadow: var(--box-shadow-active);
      cursor: pointer;
    }

    &[type="range"]::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      //box-shadow: var(--box-shadow-2);
      border: none;
      cursor: pointer;
    }
  }
}