@use '../abstracts/settings';

// standart themes
@mixin getTheme($thm) {

  @if $thm ==light {
    :root {
      --text-color: #000000;
      --background: #ffffff;
      --background-tint: #d9e8f7;
      --foreground: #ffffff;
      --border: solid hsla(0, 0%, 70%, 0.2) 1px;
      --box-shadow: 0px 1.6px 7px rgb(0 0 0 / 9%);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.25);
      --foreground-transparent: #ffffff;
      --foreground-hover: #ededed;
      --foreground-active: #f2f2f2;
    }
  }

  @else {
    :root {
      --text-color: #ffffff;
      --background: #272727;
      --background-tint: #0d1015;
      --foreground: #313335;
      --border: solid hsla(0, 0%, 10%, 0.2) 1px;
      --box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.2);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.45);
      --foreground-transparent: #000000;
      --foreground-hover: #2e2e2e;
      --foreground-active: #262626;
    }
  }
}

@if settings.$theme ==systemTheme {
  @include getTheme(light);

  @media (prefers-color-scheme: dark) {
    @include getTheme(dark);
  }
}

@else if $theme ==lightTheme {
  @include getTheme(light);
}

@else if $theme ==darkTheme {
  @include getTheme(dark);
}