@use 'abstracts/themes';
@use 'abstracts/settings' as *;
@use 'abstracts/inputs';
//@use 'abstracts/fonts';

body {
    -webkit-tap-highlight-color: transparent;
    font-family: $default-font;
    background: linear-gradient(to bottom right, var(--background), var(--background-tint));
    background-attachment: fixed;
    color: var(--text-color);
    margin: 0;
}

::-webkit-scrollbar {
    width: 16px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: rgba(124, 124, 124, 0.459);
    border-radius: 8px;
}
:focus {
outline: none;
}

.fluentIcon {
font-family: 'Segoe Fluent Icons', segoeFluentIcons;
}


// Headers ------------------------------------------------
h1 {
font-family: $bold-font;
color: var(--color-main);
margin: 10px 0;
}

h2 {
font-family: $bold-font;
}

h3, h4 {
font-family: $semibold-font;
margin: 5px auto 5px auto;
font-weight: normal;
}

//Link
a {
    color: var(--text-color);
    &:enabled {color: var(--text-color)}
    &:active {color: var(--text-color)}
    &:hover {color: var(--color-main)}

    &.noStyle {
        text-decoration: none;
        &:hover {color: var(--text-color);}
    }
}

// Functions ----------------------------------------------
@mixin mobile() {
    @media screen and (max-width: 650px) {@content;}
}
@mixin desktop() {
    @media screen and (min-width: 650px) {@content;}
}
@mixin tablet() {
    @media screen and (min-width: 650px) and (max-width: 1300px) {@content;}
}


// Light / Dark mode --------------------------------------

.hidden {display: none;}

// Navigation --------------------------------------------
.lr-navView, lr-navView {
    position: fixed;
    width: 100%; height: 100%;
    display: flex; flex: 1 1 auto;

    .lr-navView, lr-navView {
        position: relative;
        //width: unset; height: unset;
        flex: 1 1 auto;
    }

    .content {
        display: flex; flex-direction: column; 
        flex: 1 1 auto;
        justify-content: flex-start;
        &.scroll {
            overflow: scroll;
            min-width: 0; min-height: 0;
        }
        overflow: hidden;
    }

    &.bottom, &.top {flex-direction: column; }

    @include mobile() {
       &.side {flex-wrap: wrap; }
    }
}

.lr-nav, lr-nav {
    width: var(--width);
    height: var(--height);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    display: flex;
    cursor: default;
    &.flat {box-shadow: none; border: var(--border);}
    &.floating {margin: 10px;}
    &.colored {background: linear-gradient(to right, var(--color-light), var(--color-main), var(--color-dark));color: var(--color-text);}

    .lr-navItem, lr-navItem {
        display: flex; align-items: center;
        border-radius: 8px;
        text-decoration: none;
        cursor: pointer;
        &:visited{color: var(--color);}

        .navItemIcon { font-family: "Segoe Fluent Icons", segoeFluentIcons; text-align: center; }

        &:hover {
            box-shadow: var(--box-shadow);
            .navItemIcon { transform: scale(1.15) }
        }
        &:active {
            box-shadow: var(--box-shadow-active);
            .navItemIcon { transform: scale(0.9) }
        }

        &.active {
            background: linear-gradient(to right,var(--color-light),var(--color-main));
            color: var(--color-text);
        }

    }

    &.side, &[type="side"] {
        --width: 300px;
        --collapsed-width: 60px;
        transition: width .3s ease;
        overflow: auto;
        flex-direction: column;
        &.flat {border: none; border-right: var(--border); &.floating {border: var(--border)}}
        &.floating {border-radius: 20px 3px 3px 20px;}
        flex-shrink: 0;

        .lr-navItem, lr-navItem {
            flex-wrap: nowrap;
            height: 35px;
            margin: 5px 10px; transition: margin .3s;
            white-space: nowrap;
            overflow: hidden;

            .navItemIcon {
                transition: transform .1s;
                min-width: calc(var(--collapsed-width) - 20px);
                text-align: center;
                order: 1;
                &.toggle {
                    order: 3;
                    position: relative; right: 0;
                }
            }

            .navItemLabel { order: 2; flex-grow: 1; }
        }

        .lr-navGroup, lr-navGroup {
            &.header-navGroup {
                border-top: none;

                &:hover {
                    .navItemIcon {
                        visibility: hidden;
                        font-size: 0;
                        img {width: 0px; height: 0px;}
                        @extend .fluentIcon;
                        &::before {content: ""; visibility: initial; font-size: initial;}
                    }
                }
            }
            display: block;
            border-top: var(--border); border-bottom: var(--border); border-width: 1.5px;
            margin: 5px 0;padding: 5px 0;
            & ~ .lr-navGroup, & ~ lr-navGroup {
                border-top-color: transparent;
                margin-top: 0; padding-top: 0;
            }
        }

        lr-navHeader {
            @extend lr-navGroup, .header-navGroup;
        }

        .lr-navFoldout, lr-navFoldout {
            .foldoutItems {
              margin-left: 40px;
              display: none;
            }
            transition: height .2s linear;

            &.open {
                .navItemIcon.toggle {
                    transform: rotate(180deg);
                    &:hover {transform: rotate(180deg) scale(1.1)}
                }
                .foldoutItems {display: block}
            }
        }

        &.alt-state, &[alt-state] {
            width: var(--collapsed-width);
            .lr-navItem {margin: 5px;}
            .lr-navGroup .foldoutItems {margin-left: 0;}
        }

        @include mobile() {
            transition: height .3s ease;
            flex: 1;
            height: calc(100% - 20px);
            overflow: hidden;
            &.flat {border-bottom: var(--border);}
            &.floating {border-radius: 20px;}
            &:not(.floating) {box-shadow: none};
            .header-navGroup {
                .lr-navItem:hover {box-shadow: none;}
            }
            .lr-navGroup .foldoutItems {margin-left: 40px;}
            .lr-navItem {margin: 5px 10px;}

            &.alt-state, &[alt-state] {
                height: 60px;
                flex: 1 0 auto;
                width: max-content;
                .lr-navItem {margin: 5px 10px;}
            }
        }

        &.right {
            order: 1;
            &.floating {border-radius: 3px 20px 20px 3px;}
            .lr-navItem {
                .navItemIcon {order: 2;}
                .navItemLabel {order: 0; margin-left: 5px;}
                .navItemIcon.toggle {order: 1; position: unset;}
            }

            &.alt-state, &[alt-state] {
                .navItemIcon {margin: 5px 0; }
                .navItemLabel, .toggle {display: none;}
            }
        }
    }

    &.bottom {
        --width: 100%;
        --height: 60px;
        min-height: var(--height);
        order: 2;
        width: 100%; max-width: var(--width); 
        &:not(.floating, .colored, .flat) {background-color: transparent; border: none; box-shadow: none;}
        &.colored, &.flat {border-radius: 15px 15px 0 0; }
        &.floating {border-radius: 15px;}
        align-self: center;
        overflow-x: scroll;
        &::-webkit-scrollbar { display: none;} scrollbar-width: none; -ms-overflow-style: none; 

        &.colored {.lr-navItem {&.active {background: none; box-shadow: none; font-weight: bold; font-size: 1.1em; }}}
        
        .lr-navItem {
            flex: 0 1 100%;
            position: relative;
            top: 10%;
            height: 80%;
            margin: 0 1% 0 0;
            &:first-child {margin-left: 1%;}
            justify-content: center;
            transition: all .2s;
            &:hover {box-shadow: none; background-color: var(--background-hover); font-size: 1.1em;}
            &:active {background-color: var(--background-active); font-size: 0.9em; transition: all .1s;}

            .navItemLabel {padding: 0 10px 0 10px;}
            .navItemIcon:hover {transform: none;}
        }
        &.colored .lr-navItem:hover {background-color: transparent; box-shadow: var(--box-shadow);}
        &.colored .lr-navItem:active {background-color: transparent; box-shadow: none; font-size: 0.9em; transition: all .1s;}
    }

    &.top {
        @extend .bottom;
        order: 0;
        &.colored, &.flat {border-radius: 0 0 15px 15px; }
        &.floating {border-radius: 15px;}
    }
}


// Boxes ------------------------
div.lr-box {
    box-shadow: var(--box-shadow);
    background-color: var(--foreground);
    border-radius: 3px;
    padding: 15px;
    margin: 8px 0;

    &.round-corners {border-radius: 10px;}
    &.very-round-corners {border-radius: 15px;}

    @for $i from 1 through 10 { 
        &:nth-child(#{$i}) {animation-delay: calc(0.03s * #{$i});}
    }
}

.lr-imageBox {
    box-shadow: var(--box-shadow);
    background-color: var(--foreground);
    border-radius: 3px;
    margin: 8px 0;
    display: flex; flex-wrap: wrap;

    animation: box-load-in .2s ease-out;
    animation-fill-mode: backwards;

    @for $i from 1 through 10 { 
        &:nth-child(#{$i}) {animation-delay: calc(0.03s * #{$i});}
    }
    
    img {
        order: 1;
        flex-grow: 1;
        max-width: 100%;
        border-radius: 3px 3px 0 0;
    }
    
    &.round-corners {
        border-radius: 10px;
        img {border-radius: 10px 10px 0 0;}
    }
    &.very-round-corners {
        border-radius: 15px;
        img {border-radius: 15px 15px 0 0;}
    }
    h3 {
        order: 2;
        position: relative;
        border-top: var(--border);
        font-size: 1.5em;
        flex-grow: 1;
        align-self: center; text-align: center;
        justify-self: center;
        padding: 5px 0 5px 0;
    }

    &.animated {
        transition: transform .1s;
        
        &:hover {
            transform: scale(1.03);
        }
        &:active {transform: scale(0.95);}
    }

    &.active {
        border: solid 3px var(--color-main);
        h3 {font-weight: bold;}
    }
}


// List ------------------------------
.lr-list {
  font-size: 15px;
  overflow-y: initial;
  & > div {
    @extend .lr-box;
    width: initial;
    opacity: 0%;
    animation: box-load-in .2s ease-out;
    animation-fill-mode: both;

    @for $i from 1 through 20 { 
        &:nth-child(#{$i}) {animation-delay: calc(0.03s * #{$i});}
    }
  }
  &.round-corners {
    & > div {
      border-radius: 7px;
    }
  }
  &.flat {
    div {
      border: var(--border);
      box-shadow: none;
    }
  }
}

//Helper Classes -------------------------
.transparent {opacity: 0.6;}


// Animations ----------------------------
@keyframes box-load-in {
    0% {
        transform: scale(70%);
        opacity: 0%;
    }
    100% {
        transform: scale(100%);
        opacity: 100%;
    }
}
