:root {
  --color-extra-light: #a3f4ff;
  --color-light: #8ae2ff;
  --color-lighter: #37c2f1;
  --color-main: #199be1;
  --color-darker: #0079d6;
  --color-dark: #0d61ab;
  --color-extra-dark: #014989;
  --color-text: #ffffff;
  --mobile-at: 1020px;
}

:root {
  --theme: 100%;
  --foreground: black;
  --background: white;
  --component-background: white;
  --background-tint: #d9e8f7;
  --background-transparent: hsla(0, 0%, 100%, 0.5);
  --background-hover: hsl(0, 3%, 95%);
  --background-active: hsl(0, 0%, 93%);
  --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.25);
  --border: solid hsla(0, 0%, 70%, .2) 1px;
  --shadow-spec: 97%;
  --shadow-brightness: 30%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: 0%;
    --foreground: white;
    --background: #2c2c2c;
    --component-background: #2b2b2b;
    --background-tint: #18436E;
    --background-transparent: hsla(204, 8%, 0%, 0.2);
    --background-hover: hsl(0, 0%, 18%);
    --background-active: hsl(0, 0%, 15%);
    --box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.75);
    --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.75);
    --border: solid hsla(0, 0%, 10%, .2) 1px;
    --shadow-spec: 20%;
    --shadow-brightness: 0%;
  }
}
:root {
  --ip-background-size: 100% auto;
  --shadow-length: 1;
  --sun-tint: 215;
  --sun-saturation: 0%;
  --sun-brightness: 100%;
  --sky-brightness: 92%;
  --sky-saturation: 87%;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Segoe UI Variable Display", "selawik", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, var(--background), var(--background-tint));
  background-attachment: fixed;
  color: var(--foreground);
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5em;
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}

:focus {
  outline: none;
}

.fluentIcon {
  font-family: "Segoe Fluent Icons", segoeFluentIcons;
}

h1 {
  font-family: "Segoe UI Variable Display", "selawik_b", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-main);
  margin: 10px 0;
}

h2 {
  font-family: "Segoe UI Variable Display", "selawik_b", Tahoma, Geneva, Verdana, sans-serif;
}

h3, h4 {
  font-family: "Segoe UI Variable Display", "selawik_sb", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px auto 5px auto;
}

.navRootElem {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}
.navRootElem .navRootElem {
  position: relative;
  width: unset;
  height: unset;
  flex: 1 1 auto;
}
.navRootElem .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.navRootElem.bottom, .navRootElem.top {
  flex-direction: column;
}
@media screen and (max-width: 650px) {
  .navRootElem.side {
    flex-wrap: wrap;
  }
}

.lr-nav {
  width: var(--width);
  height: var(--height);
  background-color: var(--component-background);
  box-shadow: var(--box-shadow);
  display: flex;
  cursor: default;
}
.lr-nav.flat {
  box-shadow: none;
  border: var(--border);
}
.lr-nav.floating {
  margin: 10px;
}
.lr-nav.colored {
  background: linear-gradient(to right, var(--color-light), var(--color-main), var(--color-dark));
  color: var(--color-text);
}
.lr-nav .lr-navItem {
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.lr-nav .lr-navItem .navItemIcon {
  font-family: "Segoe Fluent Icons", segoeFluentIcons;
  text-align: center;
}
.lr-nav .lr-navItem:hover {
  box-shadow: var(--box-shadow);
}
.lr-nav .lr-navItem:hover .navItemIcon {
  transform: scale(1.15);
}
.lr-nav .lr-navItem:active {
  box-shadow: var(--box-shadow-active);
}
.lr-nav .lr-navItem:active .navItemIcon {
  transform: scale(0.9);
}
.lr-nav .lr-navItem.selected {
  background: linear-gradient(to right, var(--color-light), var(--color-main));
  color: var(--color-text);
}
.lr-nav.side {
  --width: 300px;
  --collapsed-width: 60px;
  transition: width 0.3s ease;
  flex-direction: column;
}
.lr-nav.side.flat {
  border: none;
  border-right: var(--border);
}
.lr-nav.side.flat.floating {
  border: var(--border);
}
.lr-nav.side.floating {
  border-radius: 20px 3px 3px 20px;
}
.lr-nav.side .lr-navItem {
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 35px;
  margin: 5px 10px;
  transition: margin 0.3s;
  white-space: nowrap;
  overflow: hidden;
}
.lr-nav.side .lr-navItem.open .navItemIcon.toggle {
  transform: rotate(180deg);
}
.lr-nav.side .lr-navItem.open .navItemIcon.toggle:hover {
  transform: rotate(180deg) scale(1.1);
}
.lr-nav.side .lr-navItem .navItemIcon {
  transition: transform 0.1s;
  min-width: calc(var(--collapsed-width) - 10px);
  text-align: center;
  order: 1;
}
.lr-nav.side .lr-navItem .navItemIcon.toggle {
  order: 3;
  position: relative;
  right: 0;
}
.lr-nav.side .lr-navItem .navItemLabel {
  order: 2;
  flex-grow: 1;
}
.lr-nav.side .lr-navGroup {
  display: block;
  border-top: var(--border);
  border-bottom: var(--border);
  border-width: 1.5px;
  margin: 5px 0;
  padding: 5px 0;
}
.lr-nav.side .lr-navGroup.header-navGroup {
  border-top: none;
}
.lr-nav.side .lr-navGroup ~ .lr-navGroup {
  border-top-color: transparent;
  margin-top: 0;
  padding-top: 0;
}
.lr-nav.side .lr-navFoldout {
  transition: height 0.2s linear;
}
.lr-nav.side .lr-navFoldout .foldoutItems {
  margin-left: 40px;
  display: none;
}
.lr-nav.side .lr-navFoldout .foldoutItems.open {
  display: block;
}
.lr-nav.side.alt-state {
  width: var(--collapsed-width);
}
.lr-nav.side.alt-state .lr-navItem {
  margin: 5px;
}
.lr-nav.side.alt-state .lr-navGroup .foldoutItems {
  margin-left: 0;
}
@media screen and (max-width: 650px) {
  .lr-nav.side {
    transition: height 0.3s ease;
    width: 100%;
    height: 60px;
    overflow: hidden;
  }
  .lr-nav.side.flat {
    border-bottom: var(--border);
  }
  .lr-nav.side:not(.floating) {
    box-shadow: none;
  }
  .lr-nav.side .header .navItemLabel {
    font-size: 1.7em;
  }
  .lr-nav.side .header .navItemIcon {
    padding-top: 5px;
  }
  .lr-nav.side .header:hover {
    box-shadow: none;
  }
  .lr-nav.side.alt-state {
    width: 100%;
    height: calc(100% - 20px);
  }
  .lr-nav.side.alt-state .lr-navItem {
    margin: 5px 10px;
  }
  .lr-nav.side.alt-state .lr-navGroup .foldoutItems {
    margin-left: 40px;
  }
}
.lr-nav.side.right {
  order: 1;
}
.lr-nav.side.right.floating {
  border-radius: 3px 20px 20px 3px;
}
.lr-nav.side.right .lr-navItem .navItemIcon {
  order: 2;
}
.lr-nav.side.right .lr-navItem .navItemLabel {
  order: 0;
  margin-left: 5px;
}
.lr-nav.side.right .lr-navItem .navItemIcon.toggle {
  order: 1;
  position: unset;
}
.lr-nav.side.right.alt-state .navItemIcon {
  margin: 5px 0;
}
.lr-nav.side.right.alt-state .navItemLabel, .lr-nav.side.right.alt-state .toggle {
  display: none;
}
.lr-nav.bottom, .lr-nav.top {
  --width: 100%;
  --height: 60px;
  order: 2;
  width: 100%;
  max-width: var(--width);
  align-self: center;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.lr-nav.bottom:not(.floating, .colored, .flat), .lr-nav.top:not(.floating, .colored, .flat) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.lr-nav.bottom.colored, .lr-nav.colored.top, .lr-nav.bottom.flat, .lr-nav.flat.top {
  border-radius: 15px 15px 0 0;
}
.lr-nav.bottom.floating, .lr-nav.floating.top {
  border-radius: 15px;
}
.lr-nav.bottom::-webkit-scrollbar, .lr-nav.top::-webkit-scrollbar {
  display: none;
}
.lr-nav.bottom.colored .lr-navItem.selected, .lr-nav.colored.top .lr-navItem.selected {
  background: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 1.1em;
}
.lr-nav.bottom .lr-navItem, .lr-nav.top .lr-navItem {
  flex: 0 1 100%;
  position: relative;
  top: 10%;
  height: 80%;
  margin: 0 1% 0 0;
  justify-content: center;
  transition: all 0.2s;
}
.lr-nav.bottom .lr-navItem:first-child, .lr-nav.top .lr-navItem:first-child {
  margin-left: 1%;
}
.lr-nav.bottom .lr-navItem:hover, .lr-nav.top .lr-navItem:hover {
  box-shadow: none;
  background-color: var(--background-hover);
  font-size: 1.1em;
}
.lr-nav.bottom .lr-navItem:active, .lr-nav.top .lr-navItem:active {
  background-color: var(--background-active);
  font-size: 0.9em;
  transition: all 0.1s;
}
.lr-nav.bottom .lr-navItem .navItemLabel, .lr-nav.top .lr-navItem .navItemLabel {
  padding: 0 10px 0 10px;
}
.lr-nav.bottom .lr-navItem .navItemIcon:hover, .lr-nav.top .lr-navItem .navItemIcon:hover {
  transform: none;
}
.lr-nav.bottom.colored .lr-navItem:hover, .lr-nav.colored.top .lr-navItem:hover {
  background-color: transparent;
  box-shadow: var(--box-shadow);
}
.lr-nav.bottom.colored .lr-navItem:active, .lr-nav.colored.top .lr-navItem:active {
  background-color: transparent;
  box-shadow: none;
  font-size: 0.9em;
  transition: all 0.1s;
}
.lr-nav.top {
  order: 0;
}
.lr-nav.top.colored, .lr-nav.top.flat {
  border-radius: 0 0 15px 15px;
}
.lr-nav.top.floating {
  border-radius: 15px;
}

div.lr-box, .lr-list > div {
  box-shadow: var(--box-shadow);
  background-color: var(--component-background);
  border-radius: 3px;
  width: auto;
  height: auto;
  padding: 15px;
  width: fit-content;
  margin: 10px 0;
  align-self: center;
}
div.lr-box.round-corners, .lr-list > div.round-corners {
  border-radius: 7px;
}

.lr-list {
  font-size: 15px;
  overflow-y: initial;
}
.lr-list > div {
  width: initial;
}
.lr-list.round-corners > div {
  border-radius: 7px;
}
.lr-list.flat div {
  border: var(--border);
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
