@use '../abstracts/settings';

// Themes
@mixin getTheme($thm) {

  @if $thm == light {
    :root {
      --theme: 100%;

      --foreground: black;
      --background: white;
      --component-background: white;
      --background-tint: #d9e8f7;

      --background-transparent: hsla(0, 0%, 100%, 0.5);
      --background-hover: hsl(0, 3%, 95%);
      --background-active: hsl(0, 0%, 93%);

      --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.25);
      --border: solid hsla(0, 0%, 70%, .2) 1px;
      --shadow-spec: 97%;
      --shadow-brightness: 30%;
    }
  } @else {
    :root {
      --theme: 0%;

      --foreground: white;
      --background: #2c2c2c;
      --component-background: #2b2b2b;
      --background-tint: #18436E;
      --background-transparent: hsla(204, 8%, 0%, 0.2);
      --background-hover: hsl(0, 0%, 18%);
      --background-active: hsl(0, 0%, 15%);

      --box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.75);
      --box-shadow-active: 1px 1px 3px rgba(0, 0, 0, 0.75);
      --border: solid hsla(0, 0%, 10%, .2) 1px;
      --shadow-spec: 20%;
      --shadow-brightness: 0%;
    }
  }
}

@if settings.$theme == systemTheme {
  @include getTheme(light);
  @media (prefers-color-scheme: dark) {
    @include getTheme(dark);
  }
} @else if $theme == lightTheme {
  @include getTheme(light);
} @else if $theme == darkTheme {
  @include getTheme(dark);
}