// other
$shadow: 1.2px 1.2px 6px;
$shadow-pressed: 1px 1px 3px;

$border-radius: 6px;

// themes
$light-theme: (
    background: black,
    background-hover: hsl(0, 3%, 85%),
    background-active: hsl(0, 0%, 83%),
    component-background: hsl(0, 0%, 98%),
    component-background-hover: hsl(0, 0%, 87%),
    component-background-active: hsl(0, 0%, 81%),
    foreground: black,
    box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.25),
    linear-gradient: linear-gradient(white, rgb(233, 231, 231))
);
$dark-theme: (
    background: hsl(0, 0%, 21%),
    background-hover: hsl(0, 0%, 18%),
    background-active: hsl(0, 0%, 15%),
    component-background: hsl(0, 0%, 37%),
    component-background-hover: hsl(0, 0%, 33%),
    component-background-active: hsl(0, 0%, 29%),
    foreground: white,
    box-shadow: 1.2px 1.2px 6px rgba(0, 0, 0, 0.2),
    linear-gradient: linear-gradient(rgb(78, 78, 78), rgb(27, 27, 27))
);

// filters
$blur: blur(10pt) saturate(125%);
