body {
  overflow: scroll;
  /*esrtegdzhf
  */
  overflow: auto;
}

body {
  overflow: scroll;
  /*esrtegdzhf
  */
  overflow: auto;

  body {
    overflow: scroll;
    /*esrtegdzhf
  */
    overflow: auto;
  }

}

/*

stuff {
}

decl: val;

@suff {
}

*/