.lr-box {
    background-color: var(--component-background);
    box-shadow: var(--shadow-1);
    border-radius: 4px;
    padding: 16px;


    &.very-round-corners {
        border-radius: 15px;
    }

    .lr-box &,
    & & {
        @extend .flat;
    }

    @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
            animation-delay: calc(0.03s * #{$i});
        }
    }

    &.inline,
    .inline-components > & {
        display: inline-block;
        padding: 8px 16px;
    }

    &.flat:not(.shadow),
    .flat-components:not(.shadow-components) > &:not(.shadow) {
        box-shadow: none;
        border: var(--component-stroke);
    }

    &.important,
    .important-components > & {
        background-color: var(--primary);
    }

    &.small,
    .small-components > & {
        padding: 8px;

        &.inline {
            padding: 4px 8px;
        }
    }

    &.transparent,
    &.transparent:hover,
    &.transparent:active,
    &.transparent:focus {
        background: none;
        border: none;
        box-shadow: none;
    }

    &.interactive:not(.transparent),
    .interactive-components > &:not(.transparent) {
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow-2);
            background: var(--component-hover);
        }

        &:active {
            box-shadow: var(--shadow-0);
            background: var(--component-active);
        }

        &.flat {
            &:hover {
                box-shadow: var(--shadow-1);
            }
        }

        &.important {
            &:hover {
                background-color: var(--light);
            }

            &:active {
                background-color: var(--dark);
            }
        }
    }
}

.lr-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > div {
        @extend .lr-box;
        width: initial;
        opacity: 0%;
        animation: box-load-in 0.2s ease-out both;
    }

    &.flat > div {
        @extend .flat;
    }

    &.small > div {
        @extend .small;
    }

    &.important > div {
        @extend .important;
    }

    &.transparent > div {
        @extend .transparent;
    }
}

button,
input,
select,
textarea {
    @extend .lr-box, .inline;

    font-family: var(--component-font);
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
    color: var(--color-text);
    border: none;

    margin: 4px 0;

    transition: background-color 0.2s, color 0.2s, box-shadow .2s, border 0.2s;
}

button,
select {
    text-align: center;

    &:not(:disabled) {
        @extend .interactive;
    }

    &:disabled {
        @extend .flat;
        color: gray;
    }


    &:has(.fluentIcon:only-child) {
        padding: 8px 8px;

        .fluentIcon {
            display: block;
            position: initial;
        }
    }

    &.small,
    .small-components > & {
        &:has(.fluentIcon:only-child) {
            padding: 4px 4px;
        }
    }

    & > .fluentIcon:not(:only-child) {
        margin-right: 16px;
    }
}

input {
    box-sizing: border-box;

    &:not([type=reset]):not([type=button]):not([type=submit]) {
        border-bottom-width: 2px;
        border-color: transparent;

        &.flat:not(.shadow),
        .flat-components > &:not(.shadow),
        .lr-box &:not(.shadow) {
            border-bottom-width: 2px;
            border-color: transparent;
            border-color: transparent;
            outline: var(--component-stroke);

            &:focus {
                box-shadow: var(--shadow-1);
            }
        }

        &:focus {
            border-bottom-color: var(--primary) !important;
            box-shadow: var(--shadow-2);
        }
    }




    &:user-invalid {
        border-bottom-color: var(--alert);
    }

    &[type="reset"],
    &[type="button"] {
        @extend button;
    }

    &[type="submit"] {
        @extend button, .important;
    }

    &[type="color"] {
        padding: 0;
        border-radius: 0;
        background: var(--component-background);
    }

    &[type="search"] {
        background: url("./img/search.png") no-repeat center center;
        background-size: 15px;
        padding-left: 36px;
        background-position-x: 12px;

        &:focus {
            background-size: 18px;
            background-position-x: 11px;
            transition: background .2s;
        }
    }

    &[type=checkbox] {
        align-self: center;
        appearance: none;
        -webkit-appearance: none;
        box-shadow: none;
        border: none !important;
        border-radius: 8px;
        width: 5px;
        height: 5px;
        padding: 12px;
        margin: 0;
        cursor: pointer;

        &:checked {
            background: url("./img/checkbox.png") no-repeat center center;
            background-size: 13px;
            background-color: var(--light);
            outline-color: var(--light);
        }

        &.small {
            padding: .5em;
            border-radius: 4px;
            vertical-align: text-top;
            background-size: 9px;
        }
    }

    &[type="range"] {
        //-webkit-appearance: none; appearance: none;
        height: 0px;
        background: var(--color-darker);
        outline: none; // Remove outline 
        -webkit-transition: .1s;
        transition: all .1s;
        padding-left: 0;
        padding-right: 0;
        border: none !important;
        outline: none !important;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }
}

label {
    font-weight: 600;
    margin-right: 8px;
    font-size: 1em;


    .small {
        // TODO
    }
}