@font-face {
    font-family: "FluentSystemIcons-Resizable";
    src: url("./fonts/FluentSystemIcons/FluentSystemIcons-Resizable.woff2") format("woff2"),
        url("./fonts/FluentSystemIcons/FluentSystemIcons-Resizable.woff") format("woff"),
        url("./fonts/FluentSystemIcons/FluentSystemIcons-Resizable.ttf") format("truetype");
    font-display: block;
}

.fluentIcon {
    position: relative;
    --size: 20px;

    &[size="14"] {
        --size: 14px;
    }

    &[size="12"] {
        --size: 12px;
    }

    &[size="16"] {
        --size: 16px;
    }

    &[size="18"] {
        --size: 18px;
    }

    &[size="20"] {
        --size: 20px;
    }

    &[size="24"] {
        --size: 24px;
    }

    height: var(--size);
    width: var(--size);


    display: inline-block;
    vertical-align: baseline;
    position: relative;
    bottom: calc(var(--size) * -.5 + .5cap);
    margin-top: calc(var(--size) * -.5 + .5cap);
    margin-bottom: calc(var(--size) * .5 - .5cap);
}

input:not(:disabled):where([type="reset"], [type="button"], [type="submit"]),
button,
select {
    .fluentIcon:only-child {
        height: 1lh;
        width: 1lh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.fluentIcon:before {
    font-family: FluentSystemIcons-Resizable !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--size);
    display: block;
}

details {
    .fluentIcon.details_caret_left_regular:before {
        content: "\e392";
        transition: rotate .2s var(--curve-ease);
    }

    .fluentIcon.details_caret_left_filled:before {
        content: "\e391";
        transition: rotate .2s var(--curve-ease);
    }

    .fluentIcon.details_caret_right_regular:before {
        content: "\e390";
        transition: rotate .2s var(--curve-ease);
    }

    .fluentIcon.details_caret_right_filled:before {
        content: "\e38f";
        transition: rotate .2s var(--curve-ease);
    }

    &[open] {

        .fluentIcon.details_caret_left_regular:before,
        .fluentIcon.details_caret_left_filled:before {
            rotate: 90deg
        }

        .fluentIcon.details_caret_right_regular:before,
        .fluentIcon.details_caret_right_filled:before {
            rotate: -90deg
        }
    }

    ::marker {
        font-family: FluentSystemIcons-Resizable !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        vertical-align: baseline;
        transition: rotate .2s var(--curve-ease);
        content: "\e38f";
    }

    &[open] ::marker {
        content: "\e38b";
    }
}

 