@font-face {
font-family: "SatoshiVariable";
  src: url("./fonts/Satoshi-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "InterVariable";
  src: url("./fonts/Inter-Variable.ttf");
  font-display: swap;
}

@font-face {
  font-family: "segoeFluentIcons";
  src: url("./fonts/SegoeFluentIcons.ttf");
  font-display: swap;
}