//LR inputs -----------------------------------------------------------------

// Button
button {
  font-family: InterVariable;
  font-size: 1em;
  height: 40px;

  text-align: center; display: inline-block;
  box-shadow: var(--shadow-1);
  color: var(--color-text);
  cursor: pointer;
  padding: 0 16px;
  margin: 4px 0;
  border: none;
  background-color: var(--component-background);
  border-radius: 4px;
  transition: background-color 0.1s, color 0.2s, box-shadow .2s;
  user-select: none;
  transition: background-color .2s, color .2s, border .2s;

  &:hover {
    box-shadow: var(--shadow-2);
    background: var(--component-hover);
  }
  &:active {
    box-shadow: var(--shadow-0);
    background: var(--component-active);
  }

  &.flat {
    box-shadow: none;
    border: var(--component-stroke);
    &:hover {box-shadow: var(--shadow-1); border-color: var(--component-hover);}
    &:active {box-shadow: var(--shadow-0); border-color: var(--component-active);}
  }

  &.important {
    border: none;
    background-color: var(--skye-blue-primary);
    &:hover {background-color: var(--skye-blue-light); box-shadow: var(--shadow-2);}
    &:active {background-color: var(--skye-blue-darkest); box-shadow: var(--shadow-0);}
  }
}
  
input {
  font-family: InterVariable;
  font-size: 0.9em;
  height: 40px;
  display: inline-block;
  box-shadow: var(--shadow-1);
  color: var(--color-text);
  padding: 0 16px;
  margin: 4px 0;
  border: none;
  background-color: var(--component-background);
  border-radius: 4px;
  transition: background-color 0.1s, color 0.2s, box-shadow .2s, border-bottom-color .1s;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;

  &.flat {
    box-shadow: none;
    border: var(--component-stroke);
    border-bottom: 2px solid var(--component-important);
  }

  &:focus {
    border-bottom-color: var(--skye-blue-primary);
    box-shadow: var(--shadow-2);
    &.flat {
      box-shadow: var(--shadow-1);
    }
  }

  &[type="reset"],
  &[type="button"] {
    @extend button;
  }
  &[type="submit"] {
    @extend button, .important;
  }

  &[type="color"] {
    padding: 0;
    border-radius: 0;
    background: var(--component-background);
  }

  &[type="search"] {
    background: url("/img/search.png") no-repeat center center;
    background-size: 15px;
    padding-left: 36px;
    background-position-x: 12px;

    &:focus {
      background-size: 18px;
      background-position-x: 11px;
      transition: background .2s;
    }
  }

  &[type="checkbox"] {
    align-self: center;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: var(--component-stroke);
    border-radius: 8px;
    width: 5px;
    height: 5px;
    padding: 11px;
    cursor: pointer;

    &:checked {
      background: url("/img/checkbox.png") no-repeat center center;
      background-size: 13px;
      background-color: var(--skye-blue-light);
      border-color: var(--skye-blue-light);
    }
  }

  &[type="range"] {
    &[type="range"] {
      -webkit-appearance: none; appearance: none;
      height: 0px;
      background: var(--color-darker);
      outline: none; /* Remove outline */
      -webkit-transition: .1s; transition: all .1s;
      margin: 15px 5px; padding: 2px;
    }

    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; appearance: none;
      width: 25px; height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      //box-shadow: var(--box-shadow-active);
      cursor: pointer;
    }

    &[type="range"]::-moz-range-thumb {
      width: 25px; height: 25px;
      border-radius: 25px;
      background: var(--color-darker);
      //box-shadow: var(--box-shadow-2);
      border: none;
      cursor: pointer;
    }
  }
}

select {
  @extend button;
  padding-left: 4px; padding-right: 4px;
  display: block;
}