@mixin variants($prefix, $property, $map) {
  @each $name, $value in $map {
    .#{$prefix}#{$name} {
      #{$property}: #{$value}
    }
  }
}

/// --- Spacing --- ///

$spacing-variants: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
  16: 16px,
  32: 32px,
);

@include variants("gap", gap, $spacing-variants);

@include variants("p", padding, $spacing-variants);

@include variants("px", padding-inline, $spacing-variants);

@include variants("py", padding-block, $spacing-variants);

@include variants("m", margin, $spacing-variants);

@include variants("mx", margin-inline, $spacing-variants);

@include variants("my", margin-block, $spacing-variants);

@include variants("mt", margin-top, $spacing-variants);

@include variants("mb", margin-bottom, $spacing-variants);

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

/// --- Flexbox --- ///

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  // TODO: rename to items-center ?
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.flex-start-start {
  justify-content: start;
  align-items: start;
}

.flex-start-center {
  justify-content: start;
  align-items: center;
}

.flex-start-end {
  justify-content: start;
  align-items: end;
}

.flex-start-stretch {
  justify-content: start;
  align-items: stretch;
}

.flex-center-start {
  justify-content: center;
  align-items: start;
}

.flex-center-center {
  justify-content: center;
  align-items: center;
}

.flex-center-end {
  justify-content: center;
  align-items: end;
}

.flex-center-stretch {
  justify-content: center;
  align-items: stretch;
}

.flex-end-start {
  justify-content: end;
  align-items: start;
}

.flex-end-center {
  justify-content: end;
  align-items: center;
}

.flex-end-end {
  justify-content: end;
  align-items: end;
}

.flex-end-stretch {
  justify-content: end;
  align-items: stretch;
}

.flex-stretch-start {
  justify-content: stretch;
  align-items: start;
}

.flex-stretch-center {
  justify-content: stretch;
  align-items: center;
}

.flex-stretch-end {
  justify-content: stretch;
  align-items: end;
}

.flex-stretch-stretch {
  justify-content: stretch;
  align-items: stretch;
}

/// --- Tables --- ///

.table {
    display: table;
}

.row, .rows > * {
  display: table-row;

  & > *:not([specificity-hack]) {
    display: table-cell;
  }
}