menu {
    display: inline-flex;
    flex-direction: column;

    background-color: var(--component-background);
    box-shadow: var(--shadow-3);
    border-radius: 4px;
    margin: 8px 0;
    padding: 4px;
    gap: 4px;

    transition: scale .15s ease-out;
    transform-origin: 50% 0;

    &.horizontal {
        flex-direction: row;
    }

    & > button {
        margin: 0;
        text-align: left;

        box-shadow: none !important;
    }

    &.small-components > button {
        font-size: 14px;
    }

}

body:has(> main) {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    & > main {
        overflow: auto;
        grid-row: 2;
    }

    &:has(>nav) {
        grid-template-columns: auto auto;
    }
    & > nav {
        grid-row: 1 / 4;
        grid-column: 1;
    }

    & > footer {
        grid-row: 3;
    }
    & > header {
        grid-row: 1;
    }
}