menu { // TODO: rework menu
    display: inline-flex;
    flex-direction: column;

    background-color: var(--component-background);
    box-shadow: var(--shadow-3);
    border-radius: 4px;
    margin: 8px 0;
    padding: 4px;
    gap: 4px;

    transition: all .25s cubic-bezier(0, 0, 0.2, 1) allow-discrete;
    transform-origin: 50% 0;

    @starting-style {
        scale: 1 .2;
        opacity: 0.2;
    }

    &.horizontal {
        flex-direction: row;
    }

    & > button {
        margin: 0;
        text-align: left;

        box-shadow: none !important;
    }

    &.small-components > button {
        font-size: 14px;
    }

}

nav {
    display: flex;
    flex-direction: column;
    width: min(300px, 90dvw);
    padding: 16px 8px;
    overflow: auto;
    background-color: var(--component-important);
    border: none;
    border-right: var(--component-stroke);

    a,
    summary,
    .nav-item {
        font-family: var(--component-font);
        font-weight: normal;
        text-decoration: none;

        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 10px;
        border-radius: 6px;
        transition: background-color .1s;
        margin: 4px 0;

        &:hover {
            background-color: var(--component-hover);
        }

        &:active {
            background-color: var(--component-active);
        }
    }

    details {
        padding-left: 30px;
        margin-top: 8px;

        summary,
        a,
        .nav-item {
            margin-left: -30px;
            padding-left: 40px;
        }

        summary {
            font-weight: 500;
            padding-left: 10px;

            &::before {
                content: "\e40d";
                transition: rotate .1s;

                font-family: FluentSystemIcons-Resizable !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 20px;
            }


        }

        &[open] > summary::before {
            rotate: 90deg;
        }
    }

    @media (width < 1000px) {
        &:not(.show-always) {
            z-index: 1000;
            position: fixed;
            height: 100dvh;
            box-sizing: border-box;
            transform: translateX(-110%);
            transition: transform .2s ease-out;
            backdrop-filter: blur(30px);
            background-color: light-dark(#ebebebae, #1a1a1ad8);
            border: none;
            box-shadow: var(--shadow-4);

            &[open]:not([open=false]) {
                transform: translateX(0);
            }
        }
    }
}

body:has(> main) {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    & > main {
        overflow: auto;
        grid-row: 2;
    }

    @media (width > 1000px) {
        &:has(>nav:not([popover])):has(>nav:not(.show-always)) {
            grid-template-columns: min-content auto;
        }
    }

    & > nav {
        grid-row: 1 / 4;
        grid-column: 1;
    }

    & > footer {
        grid-row: 3;
    }

    & > header {
        grid-row: 1;
    }
}

details {

    & > summary.caret_left:first-of-type,
    & > summary.caret_right:first-of-type {
        display: flex;
        list-style-type: none;
        cursor: pointer;

        &.caret_right::after {
            font-family: FluentSystemIcons-Resizable !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            vertical-align: baseline;
            transition: rotate .1s;
            display: inline-block;
            content: "\e371";
        }

        &.caret_left::before {
            font-family: FluentSystemIcons-Resizable !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            vertical-align: baseline;
            transition: rotate .1s;
            display: inline-block;
            content: "\e373";
        }

    }


    &[open] > summary:first-of-type {

        &::before {
            rotate: 90deg
        }

        &::after {
            rotate: -90deg
        }
    }

}