:root {
    --s-xs: 2px;
    --s-s: 4px;
    --s-m: 6px;
    --s-l: 8px;
    --s-xl: 10px;

    --m-xs: 12px;
    --m-s: 16px;
    --m-m: 20px;
    --m-l: 24px;
    --m-xl: 28px;

    --l-xs: 32px;
    --l-s: 40px;
    --l-m: 48px;
    --l-l: 52px;
    --l-xl: 64px;

    --xl-xs: 80px;
    --xl-s: 96px;
    --xl-m: 112px;
    --xl-l: 128px;
    --xl-xl: 144px;
}