@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 250;
}

@property --hue-range {
  syntax: "<number>";
  inherits: true;
  initial-value: 6;
}

@property --accent-from {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(45% .13 244);
}

@property --accent-to {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(85% .18 256);
}

:root {
  color-scheme: light dark;

  // Color
  --hue: 250;
  --hue-range: 6;

  --alert: #c61025;
  --warning: orange;
  --success: #007B40;

  --accent-from: light-dark(oklch(45% .13 calc(var(--hue) - var(--hue-range))), oklch(35% .12 calc(var(--hue) - var(--hue-range))));
  --accent-to: light-dark(oklch(85% .18 calc(var(--hue) + var(--hue-range))), oklch(75% .18 calc(var(--hue) + var(--hue-range))));

  --darkest:  color-mix(in oklch, var(--accent-to) 0%, var(--accent-from));
  --dark:     color-mix(in oklch, var(--accent-to) 25%, var(--accent-from));
  --primary:  color-mix(in oklch, var(--accent-to) 50%, var(--accent-from));
  --light:    color-mix(in oklch, var(--accent-to) 75%, var(--accent-from));
  --lightest: color-mix(in oklch, var(--accent-to) 100%, var(--accent-from));

  --gradient: linear-gradient(in oklch to right, var(--accent-from), var(--accent-to));

  accent-color: var(--primary);

  --text-color: light-dark(hsl(0, 0%, 17%), hsl(0, 0%, 95%));
  --subtle-text-color: light-dark(hsl(0, 0%, 45%), hsl(0, 0%, 65%));

/*   --primary: oklch(0.6 0.214 250);
  --primary: oklch(0.5 0.2 250);
  --darkest:  oklch(from var(--primary) calc(l - 0.5 * l) .15 244);
  --dark:     oklch(from var(--primary) calc(l - 0.13 * l) .17 257);
  --light:    oklch(from var(--primary) calc(l + 0.23 * (1 - l)) .21 253);
  --lightest: oklch(from var(--primary) calc(l + 0.49 * (1 - l)) .21 256);
 */
/*   --darkest:  hsl(216, 98%, 17%);
  --dark:     hsl(216, 91%, 36%);
  --primary:  hsl(216, 82%, 49%);
  --light:    hsl(216, 89%, 63%);
  --lightest: hsl(216, 84%, 71%); */
  
  
  
  --darkest:  hsl(174, 95%, 26%); //oklch(54.28% 0.096 183.01)
  --dark:     hsl(165, 90%, 38%); //oklch(69.6% 0.1395 168.06)
  --light:    hsl(114, 56%, 71%); //oklch(83.29% 0.135 141.97)
  --lightest: hsl(93, 66%, 80%);  //oklch(90.51% 0.0968 131.52)
  --primary:  color-mix(in oklch, var(--dark), var(--light));

  --darkest:  hsl(40, 89%, 57%); //oklch(80.4% 0.1538 79.48)
  --dark:     hsl(42, 95%, 68%); //oklch(86.68% 0.136 85.96)
  --light:    hsl(45, 93%, 77%); //oklch(91.04% 0.1056 91.66)
  --lightest: hsl(50, 100%, 82%); //oklch(94.93% 0.097 98.248)
  --primary:  color-mix(in oklch, var(--dark), var(--light));


  --darkest:  hsl(218, 48%, 27%);
  --dark:     hsl(250, 50%, 59%);
  --light:    hsl(272, 92%, 75%);
  --lightest: hsl(284, 97%, 85%); 
  --primary:  color-mix(in oklch, var(--dark), var(--light));


  --accent-to: hsl(284, 97%, 85%);
  --accent-from: hsl(218, 48%, 27%);
/*   --darkest:  color-mix(in oklch, var(--accent-to) 0%, var(--accent-from));
  --dark:     color-mix(in oklch, var(--accent-to) 25%, var(--accent-from));
  --primary:  color-mix(in oklch, var(--accent-to) 50%, var(--accent-from));
  --light:    color-mix(in oklch, var(--accent-to) 75%, var(--accent-from));
  --lightest: color-mix(in oklch, var(--accent-to) 100%, var(--accent-from));

 */
  --gradient: linear-gradient(in oklch to right, var(--darkest), var(--lightest));



  // Theme
  --site-background:      light-dark(hsl(0, 0%, 96%),  hsl(0, 0%, 10%));
  --component-background: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 16%));
  --component-hover:      light-dark(hsl(0, 0%, 98%),  hsl(0, 0%, 22%));
  --component-active:     light-dark(hsl(0, 0%, 94%),  hsl(0, 0%, 26%));
  --component-important:  light-dark(hsl(0, 0%, 92%),  hsl(0, 0%, 9%));
  --component-disabled:   light-dark(hsl(0, 0%, 98%),  hsl(0, 0%, 13%));


  --scrollbar-color: light-dark(hsl(0, 0%, 79%), hsl(0, 0%, 24%));


  --component-stroke-color: light-dark(#ebebeb, #1a1a1a);
  --component-stroke: solid 1px var(--component-stroke-color);
  
  --site-stroke-color: light-dark(#dadada, #2e2e2e);
  --site-stroke: solid 1px var(--site-stroke-color);

  // Shadow
  --shadow-0: 0px 1px 2px -1px  light-dark(rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.5));
  --shadow-1: 0px 1.5px 3px 0px   light-dark(rgb(0 0 0 / 0.1),  rgb(0 0 0 / 0.25));
  --shadow-2: 0px 2.5px 4px 0px light-dark(rgb(0 0 0 / 0.15), rgb(0 0 0 / 0.3));
  --shadow-3: 0px 4px 12px 0px  light-dark(rgb(0 0 0 / 0.2),  rgb(0 0 0 / 0.3)), 0px 0px 4px 0px light-dark(rgb(0 0 0 / .1), rgb(0 0 0 / .15));
  --shadow-4: 0px 8px 28px 0px  light-dark(rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.35)), 0px 0px 6px 0px light-dark(rgb(0 0 0 / .1), rgb(0 0 0 / .25));

  // Motion
  --curve-ease-in: cubic-bezier(0.14, 0.73, 0, 1);
  --curve-ease-in-out: cubic-bezier(0.32, 0.72, 0, 1);
  --curve-ease: cubic-bezier(0.4, 0, 0.2, 1);

  // https://easings.net/
  --easeInSine: cubic-bezier(0.12, 0, 0.39, 0);
  --easeOutSine: cubic-bezier(0.61, 1, 0.88, 1);
  --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);

  --easeInQuad: cubic-bezier(0.11, 0, 0.5, 0);
  --easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
  --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);

  --easeInCubic: cubic-bezier(0.32, 0, 0.67, 0);
  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
  --easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

  --easeInQuart: cubic-bezier(0.5, 0, 0.75, 0);
  --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --easeInQuint: cubic-bezier(0.64, 0, 0.78, 0);
  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);

  --easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);

  --easeInCirc: cubic-bezier(0.55, 0, 1, 0.45);
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  --easeInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);

  --easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);



  &:has([theme=light]) {
    color-scheme: light;
  }

  &:has([theme=dark]) {
    color-scheme: dark;
  }
}

.shadow-0 {
  box-shadow: var(--shadow-0);
}

.shadow-1 {
  box-shadow: var(--shadow-1);
}

.shadow-2 {
  box-shadow: var(--shadow-2);
}

.shadow-3 {
  box-shadow: var(--shadow-3);
}

.shadow-4 {
  box-shadow: var(--shadow-4);
}