:root {
  color-scheme: light dark;

  --hue: 250;
  --secondary: rgb(0, 187, 115);

  --alert: #c61025;

  --darkest: oklch(35% .12 calc(var(--hue) - 6));
  --dark: color-mix(in oklch, var(--lightest) 25%, var(--darkest));
  --primary: color-mix(in oklch, var(--lightest) 50%, var(--darkest));
  --light: color-mix(in oklch, var(--lightest) 75%, var(--darkest));
  --lightest: oklch(75% .18 calc(var(--hue) + 6));

  --gradient: linear-gradient(in oklch to right, var(--darkest), var(--lightest));

  accent-color: var(--primary);

  --text-color: light-dark(#2C2C2C, #f2f2f2);
  --component-background: light-dark(#ffffff, #292929);
  --component-active: light-dark(#f0f0f0, #424242);
  --component-hover: light-dark(#f9f9f9, #383838);
  --component-important: light-dark(#ebebeb, #1a1a1a);
  --site-background: light-dark(#f5f5f5, #1f1f1f);
  --scrollbar-color: light-dark(#cacaca, #3d3d3d);

  --site-stroke-color: light-dark(#dadada, #2e2e2e);
  --site-stroke: solid 1px var(--site-stroke-color);

  --component-stroke-color: light-dark(#ebebeb, #1a1a1a);
  --component-stroke: solid 1px var(--component-stroke-color);

  --shadow-0: 0px 1px 3px -1px light-dark(rgb(0 0 0 / 0.2), rgb(0 0 0 / .35));
  --shadow-1: 0px 1px 3px 0px light-dark(rgb(0 0 0 / 0.15), rgb(0 0 0 / .35));
  --shadow-2: 0px 1px 4px 0px light-dark(rgb(0 0 0 / 0.25), rgb(0 0 0 / .4));
  --shadow-3: 0px 2px 7px 0px light-dark(rgb(0 0 0 / 0.25), rgb(0 0 0 / .45));
  --shadow-4: 0px 2px 13px 0px light-dark(rgb(0 0 0 / 0.28), rgb(0 0 0 / .6));

  &:has([theme=light]) {
    color-scheme: light;
  }

  &:has([theme=dark]) {
    color-scheme: dark;
  }
}