:where(.lr-box,
  button,
  input,
  select,
  textarea) {
  background-color: var(--component-background);
  border-radius: 4px;
  padding: 16px;

  --underline: 0 var(--underline-width, 2px) 0 0 var(--underline-color, transparent);

  &,
  .shadow-components > &,
  &.shadow.shadow {
    box-shadow: var(--underline), var(--shadow-1);
    border: none;

    --hover-shadow: var(--shadow-2);
    --hover-background: var(--component-hover);

    --active-shadow: var(--shadow-0);
    --active-background: var(--component-active);

    --underline-width: 2px;
  }

  & &,
  &:where(:disabled),
  .flat-components > &,
  &.flat.flat {
    box-shadow: var(--underline);
    border: var(--component-stroke);
    border-bottom-color: var(--underline-color, var(--component-stroke-color));

    --hover-shadow: var(--shadow-0);

    --underline-width: 1px;
  }

  &:where(input:not(:disabled)[type="submit"]),
  .important-components > &,
  &.important.important {
    background-color: var(--primary);

    --hover-background: var(--light);
    --active-background: var(--dark);
  }

  &.transparent.transparent {
    background: none;
    border: none;
    box-shadow: none;

    --hover-shadow: none;
    --hover-background: none;

    --active-shadow: none;
    --active-background: none;
  }

  &.subtle {
    background: none;
    box-shadow: none;
  }


  .small-components > &,
  &.small.small {
    padding: 8px;
  }

  &:where(button, input, select, textarea),
  .inline-components > &,
  &.inline {
    display: inline-block;
    padding: 8px 16px;

    .small-components > :where(&),
    &.small.small {
      padding: 4px 8px;
    }
  }

  &:where(input:not(:disabled)):where([type="reset"], [type="button"], [type="submit"]),
  &:where(button, select):where(:not(:disabled)),
  .interactive-components > &,
  &.interactive.interactive {
    cursor: pointer;
    transition: background-color, color, box-shadow, border;
    transition-duration: 0.2s;
    transition-timing-function: var(--curve-ease);


    &:where(:hover) {
      box-shadow: var(--hover-shadow);
      background: var(--hover-background);
    }

    &:where(:active) {
      box-shadow: var(--active-shadow);
      background: var(--active-background);
    }
  }
}


button,
input,
select,
textarea {
  font-family: var(--component-font);
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  color: var(--color-text);
}

input:not(:disabled):where([type="reset"], [type="button"], [type="submit"]),
button,
select {
  text-align: center;

  &:has(.fluentIcon:only-child) {
    padding: 10px 10px;

    .fluentIcon {
      display: block;
    }
  }

  &.small,
  .small-components > & {
    &:has(.fluentIcon:only-child) {
      padding: 6px 6px;
    }

    & > .fluentIcon:not(:only-child) {
      margin-right: 4px;
    }
  }

  & > .fluentIcon:not(:only-child) {
    margin-right: 8px;
  }
}

:disabled {
  color: var(--subtle-text-color);
  background-color: var(--component-disabled);
}

input {
  &:not(:where([type=reset], [type=button], [type=submit], [type=checkbox])) {

    &:focus {
      --underline-color: var(--primary);

      &:user-invalid {
        --underline-color: var(--alert);
      }
    }

  }


  &[type="color"] {
    padding: 0;
    border-radius: 0;
    background: var(--component-background);
  }

  &[type="search"] {
    background-image: url("./img/search.png");
    background-size: 15px;
    padding-left: 36px;
    background-position-x: 12px;
    background-position-y: center;
    background-repeat: no-repeat;

    &:focus {
      background-size: 18px;
      background-position-x: 11px;
      transition: background .2s var(--curve-ease);
    }
  }

  &[type=checkbox] {
    align-self: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:checked {
      background: url("./img/checkbox.png") no-repeat center center;
      background-size: 13px;
      background-color: var(--primary);
      border-color: var(--primary) !important;
    }

    &.small {
      height: 18px;
      width: 18px;
      border-radius: 4px;
      vertical-align: text-bottom;
      background-size: 9px;
    }
  }

  &[type="range"] {
    /* -webkit-appearance: none; appearance: none; */
    height: 0px;
    background: var(--color-darker);
    outline: none;
    /*  Remove outline  */
    -webkit-transition: .1s;
    transition: all .1s;
    padding-left: 0;
    padding-right: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }
}

label {
  display: inline-block;
  margin: 4px 0;
  font-size: 1em;
  font-weight: 600;

  &.left {
      margin: 0;
      margin-right: 8px;
  }

  &.right {
      margin: 0;
      margin-left: 8px;
  }


  &.disabled {
      color: var(--subtle-text-color);
  }

  &[for] {
      cursor: pointer
  }

  .small,
  .small-components > & {
      /* // TODO label.small*/
  }
}